
&lt;div class=&quot;row&quot;&gt;
	&lt;ul class=&quot;sg-colors&quot;&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #38ADD9;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#38ADD9&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #9BD6EC;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#9BD6EC&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #E6E7E8;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#E6E7E8&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffffff;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#ffffff&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #808080;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#808080&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000000;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#000000&lt;/span&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
