<div class="panel panel-default">
  <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Portlet Heading</h4></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span href="#" class="btn-group btn-toggle pull-right"> 
          <button class="btn btn-xs btn-default">On</button>
          <button class="btn btn-xs btn-primary active">Off</button>
          </span>  
          Bootply
        </li>
          <li class="list-group-item">
            <span href="#" class="btn-group btn-toggle pull-right"> 
            <button class="btn btn-xs btn-primary active">On</button>
            <button class="btn btn-xs btn-default">Off</button>
            </span> Templates</li>
          <li class="list-group-item">
            <span href="#" class="btn-group btn-toggle pull-right"> 
            <button class="btn btn-xs btn-default">On</button>
            <button class="btn btn-xs btn-primary active">Off</button>
            </span> Snippets</li>
          </ul>
      </div><!--/panel-body-->
    </div><!--/panel-->
  </div><!--/col-->
</div><!--/row-->
          