&lt;div&gt;
	&lt;ul class=&quot;list-group&quot;&gt;
	  &lt;li class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/li&gt;
	  &lt;li class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/li&gt;
	  &lt;li class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/li&gt;
	  &lt;li class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/li&gt;
	  &lt;li class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;