&lt;div class=&quot;pt-service-card col-lg-3 col-md-3 col-sm-6 col-xs-6&quot; &gt;
	&lt;div class=&quot;col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1&quot; style=&quot;{{ styleModifier }}&quot;&gt;
		{{&gt; atoms-square (src:{{src}}, alt:{{alt}})}}
	&lt;/div&gt;
	{{&gt; atoms-primary-block-button (text:{{text}})}}
&lt;/div&gt;