&lt;!--Replace the navbar brand with your own image by swapping the text for an &lt;img&gt;. Since the .navbar-brand has its own padding and height, you may need to override some CSS depending on your image.--&gt;


&lt;nav class=&quot;navbar navbar-default&quot;&gt;
  &lt;div class=&quot;container-fluid&quot;&gt;
    &lt;div class=&quot;navbar-header&quot;&gt;
      &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;
        &lt;img alt=&quot;Brand&quot; src=&quot;...&quot;&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;