&lt;div class=&quot;region region-footer-last&quot;&gt;
    &lt;section id=&quot;block-menu-menu-right-footer-menu&quot; class=&quot;block block-menu right-footer-menu col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix&quot;&gt;
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:first first leaf,href:/stories,a:footer_menu_link,text:Stories)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:first leaf,href:/aboutus,a:footer_menu_link,text:About Us)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:first last leaf,href:/reservations,a:footer_menu_link,text:Reservations)}}
    &lt;/section&gt; 

&lt;!-- /.block --&gt;
    &lt;section id=&quot;block-menu-menu-footer-menu&quot; class=&quot;block block-menu footer_menu col-xs-12 col-sm-6 col-md-6 col-lg-6
     clearfix&quot;&gt;
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:first leaf,href:/sitemap,a:footer_menu_link,text:Site Map)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/events,a:footer_menu_link,text:Events)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/packages,a:footer_menu_link,text:Packages)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/services,a:footer_menu_link,text:Services)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/calendar,a:footer_menu_link,text:Calendar)}}
      {{&gt;atoms-pt-list-menulink-footer(ul:menu nav,li:last leaf,href:/attractions,a:footer_menu_link,text:Attractions)}}
	&lt;/section&gt; 
&lt;!-- /.block --&gt;
    &lt;section id=&quot;block-menu-menu-social-media-footer-menu&quot; class=&quot;block block-menu col-lg-12 col-md-12 clearfix&quot;&gt;
      {{&gt;molecules-pt-social-media(ul:menu nav,l1:first leaf,href:http://www.facebook.com/visitpikeville,id:facebook-icon,a:social-media-icon,target:_blank,text:Facebook)}}
      {{&gt;molecules-pt-social-media(ul:menu nav,l1:leaf,href:http://visitpikeville.com/,id:instagram-icon,a:social-media-icon-instagram,text:Instagram)}}
      {{&gt;molecules-pt-social-media(ul:menu nav,l1:last leaf,href:https://twitter.com/Visit_Pikeville,id:twitter-icon,a:social-media-icon-twitter,text:Twitter)}}
	   &lt;/section&gt; 
&lt;!-- /.block --&gt;
&lt;/div&gt;  