&lt;ul class=&quot;{{ul}}&quot;&gt;
&lt;li class=&quot;{{li1}}&quot;&gt;&lt;a href=&quot;{{href}}&quot; id=&quot;{{id}}&quot;class=&quot;{{a}}&quot; target=&quot;{{target}}&quot;&gt;{{text1}}&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;