&lt;div class=&quot;form-group has-success&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputSuccess1&quot;&gt;Input with success&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess1&quot; aria-describedby=&quot;helpBlock2&quot;&gt;
  &lt;span id=&quot;helpBlock2&quot; class=&quot;help-block&quot;&gt;A block of help text that breaks onto a new line and may extend beyond one line.&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-warning&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputWarning1&quot;&gt;Input with warning&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputWarning1&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-error&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputError1&quot;&gt;Input with error&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputError1&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;has-success&quot;&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label&gt;
      &lt;input type=&quot;checkbox&quot; id=&quot;checkboxSuccess&quot; value=&quot;option1&quot;&gt;
      Checkbox with success
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;has-warning&quot;&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label&gt;
      &lt;input type=&quot;checkbox&quot; id=&quot;checkboxWarning&quot; value=&quot;option1&quot;&gt;
      Checkbox with warning
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;has-error&quot;&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label&gt;
      &lt;input type=&quot;checkbox&quot; id=&quot;checkboxError&quot; value=&quot;option1&quot;&gt;
      Checkbox with error
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;