
    &lt;nav class=&quot;navbar js-header-navbar-default js-navbar-fixed-top&quot;&gt;
      &lt;!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. --&gt;
       &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;div class=&quot;js-navbar-header&quot;&gt;
        	{{&gt;molecules-js-primary-header-navigation}}
      	&lt;/div&gt;
 	   &lt;/div&gt;
    &lt;/nav&gt;