&lt;p class=&quot;text-lowercase&quot;&gt;{{{lowercased.p}}}&lt;/p&gt;
&lt;p class=&quot;text-uppercase&quot;&gt;{{{uppercased.p}}}&lt;/p&gt;
&lt;p class=&quot;text-capitalize&quot;&gt;{{{Capitalized.p}}}&lt;/p&gt;