&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-sm-9&quot;&gt;
    Level 1: .col-sm-9
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-xs-8 col-sm-6&quot;&gt;
        Level 2: .col-xs-8 .col-sm-6
      &lt;/div&gt;
      &lt;div class=&quot;col-xs-4 col-sm-6&quot;&gt;
        Level 2: .col-xs-4 .col-sm-6
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;