&lt;div class=&quot;pt-service-card-org col-lg-4 col-md-4 col-sm-6 col-xs-12&quot; &gt;
	&lt;div class=&quot;pt-service-card-wrapper&quot;&gt;
		&lt;div class=&quot;pt-service-card-image&quot;&gt;
			{{&gt; atoms-resp-image (imgsrc:http://localhost:8888/source/images/Bear_Blue_320-240.jpg)}}
		&lt;/div&gt;
			&lt;div class=&quot;pt-service-title-background text-center&quot;&gt;
				&lt;h2&gt;{{title}}&lt;/h2&gt;
			&lt;/div&gt;
				&lt;div class=&quot;pt-service-card-bottom text-center&quot;&gt;
					&lt;p&gt;{{address}}
					&lt;/br&gt;
					{{number}}
					&lt;/br&gt;
					&lt;a href=&quot;
					{{link}}&quot;&gt;{{link}}&lt;/a&gt;
					&lt;/br&gt;
					{{social-media}}&lt;p&gt;
					&lt;p&gt;&lt;a href=&quot;google.com&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-glass&quot; style=&quot;text-shadow:2px 2px DimGray;&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
					&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg btn-block pt-search-bigger-btn-padding col-lg-12 col-md-12 col-sm-12 col-xs-12&quot;&gt;&lt;span class=&quot;pt-search-bigger-btn-text&quot;&gt;{{label}}&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;