&lt;form class=&quot;form-inline&quot;&gt;
  &lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
    &lt;label class=&quot;control-label&quot; for=&quot;inputSuccess4&quot;&gt;Input with success&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess4&quot; aria-describedby=&quot;inputSuccess4Status&quot;&gt;
    &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;span id=&quot;inputSuccess4Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
  &lt;/div&gt;
&lt;/form&gt;
&lt;form class=&quot;form-inline&quot;&gt;
  &lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
    &lt;label class=&quot;control-label&quot; for=&quot;inputGroupSuccess3&quot;&gt;Input group with success&lt;/label&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;span class=&quot;input-group-addon&quot;&gt;@&lt;/span&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputGroupSuccess3&quot; aria-describedby=&quot;inputGroupSuccess3Status&quot;&gt;
    &lt;/div&gt;
    &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;span id=&quot;inputGroupSuccess3Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
  &lt;/div&gt;
&lt;/form&gt;