 &lt;div class=&quot;row pt-image-card-main-div&quot;&gt;
    &lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-image-card-image-div&quot;&gt; 
        &lt;a href=#&gt;
          &lt;img class=&quot;img-responsive pt-image-card-pic&quot; src={{image-card.img-1}} /&gt;
        &lt;/a&gt;               
    &lt;/div&gt;
        &lt;div class=&quot;col-lg-8 col-md-8 col-sm-8 col-xs-12 pt-card-text-div pt-secondary-font&quot;&gt;
            {{image-card.description}}
        &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;        
               
                
            

   