<!-- Three columns of text -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>{{{col-md-4.h2}}}</h2>
      <p>{{{col-md-4.p}}}</p>
      <p><a class="btn btn-default" href="{{{col-md-4.href}}}">{{{col-md-4.a}}}</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>{{{col-md-4.h2-fluid}}}</h2>
      <p>{{{col-md-4.p-fluid}}}</p>
      <p><a class="btn btn-default" href="{{{col-md-4.href}}}">{{{col-md-4.a}}}</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>{{{col-md-4.h2-less}}}</h2>
      <p>{{{col-md-4.p-less}}}</p>
      <p><a class="btn btn-default" href="{{{col-md-4.href}}}">{{{col-md-4.a}}}</a></p>
    </div>
  </div><!-- /.row -->