&lt;div class=&quot;pt-primary-menu navbar navbar-default&quot;&gt;
    &lt;ul class=&quot;pt-mega-menu tb-megamenu-nav nav level-0 items-7 nav navbar-nav&quot;&gt;
      &lt;li data-id=&quot;1523&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot;&quot; data-alignsub=&quot;&quot; data-group=&quot;0&quot; data-hidewcol=&quot;0&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega&quot;&gt;
        &lt;a href=&quot;{{href}}&quot;&gt;Events&lt;/a&gt;
      &lt;/li&gt;

      &lt;li data-id=&quot;1448&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot;&quot; data-alignsub=&quot;center&quot; data-group=&quot;0&quot; data-hidewcol=&quot;0&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega mega-align-center&quot;&gt;
        &lt;a href=&quot;{{href}}&quot;&gt;Packages&lt;/a&gt;
      &lt;/li&gt;

      &lt;li data-id=&quot;3006&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot;&quot; data-alignsub=&quot;&quot; data-group=&quot;0&quot; data-hidewcol=&quot;0&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega&quot;&gt;
        &lt;a href=&quot;{{href}}&quot;&gt;Services&lt;/a&gt;
      &lt;/li&gt;

      &lt;li data-id=&quot;1521&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot;&quot; data-alignsub=&quot;&quot; data-group=&quot;0&quot; data-hidewcol=&quot;0&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega&quot;&gt;
        &lt;a href=&quot;{{href}}&quot;&gt;Attractions&lt;/a&gt;
      &lt;/li&gt;

      &lt;li data-id=&quot;1492&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot; &quot; data-alignsub=&quot;center&quot; data-group=&quot;0&quot; data-hidewcol=&quot;1&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega mega-align-center sub-hidden-collapse dropdown&quot;&gt;
        &lt;a href=&quot;{{href}}&quot; class=&quot;dropdown-toggle&quot;&gt;Main Street
          &lt;span class=&quot;mega-caption&quot;&gt; 
          &lt;/span&gt;
        &lt;/a&gt;
          &lt;div data-class=&quot;&quot; data-width=&quot;540&quot; style=&quot;width: 540px;&quot; class=&quot;tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child&quot;&gt;
            &lt;div class=&quot;mega-dropdown-inner&quot;&gt;
              &lt;div class=&quot;tb-megamenu-row row-fluid&quot;&gt;
                &lt;div data-showblocktitle=&quot;0&quot; data-class=&quot;&quot; data-width=&quot;8&quot; data-hidewcol=&quot;1&quot; id=&quot;tb-megamenu-column-1&quot; class=&quot;hidden-sm tb-megamenu-column span8  mega-col-nav  hidden-collapse&quot;&gt;
                  &lt;div class=&quot;tb-megamenu-column-inner mega-inner clearfix&quot;&gt;
                    &lt;div data-type=&quot;block&quot; data-block=&quot;bean--visit-main-street&quot; class=&quot;tb-megamenu-block tb-block tb-megamenu-block&quot;&gt;
                      &lt;div class=&quot;block-inner&quot;&gt;
                        &lt;section id=&quot;block-bean-visit-main-street&quot; class=&quot;block block-bean clearfix&quot;&gt;
                          &lt;div class=&quot;row&quot;&gt;
        		                &lt;div class=&quot;col-lg-12 col-med-12 col-sm-12 col-xs-12&quot;&gt;
      			                   &lt;div class=&quot;TopTitleField&quot;&gt;
        				                  Visit Main Street 
        			                 &lt;/div&gt;
        		                &lt;/div&gt; &lt;!-- End of Col-lg-12 div	 --&gt;
        		              &lt;div class=&quot;col-lg-6 col-med-6 col-sm-12 col-xs-12&quot;&gt;
        			              &lt;div class=&quot;leftTextField&quot;&gt;
        				              Come and visit Main Street!! 
        			              &lt;/div&gt;
        		              &lt;/div&gt;&lt;!-- End of right col-lg-6 --&gt;
        		              &lt;div class=&quot;col-lg-6 col-med-6 col-sm-12 col-xs-12 text-center&quot;&gt;
          						      &lt;div class=&quot;picSpacing&quot;&gt;
                              &lt;img src=&quot;http://dev-pikeville-tourism.pantheon.io/sites/default/files/styles/image_with_text_bean_small/public/Desktop_MainStreet-03_1.jpg?itok=A01rOOSZ&quot; class=&quot;img-responsive&quot;&gt;
                            &lt;/div&gt;
        		              &lt;/div&gt;&lt;!-- End of left col-lg-6 --&gt;
        		              &lt;div class=&quot;row col-lg-12 col-med-12 col-sm-12 col-xs-12 text-left&quot;&gt;
        			              &lt;div class=&quot;BottomCallToAction&quot;&gt;
                              &lt;a href=&quot;{{href}}&quot; target=&quot;_blank&quot; type=&quot;button&quot; class=&quot;mainStreetButton btn btn-secondary&quot;&gt;
                          			Visit Main Street
                              &lt;/a&gt;
        			              &lt;/div&gt;
        		              &lt;/div&gt; &lt;!-- End of Col-lg-12 div	 --&gt;
        	              &lt;/div&gt;
                      &lt;/section&gt; &lt;!-- /.block --&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div data-showblocktitle=&quot;1&quot; data-class=&quot;&quot; data-width=&quot;4&quot; data-hidewcol=&quot;&quot; id=&quot;tb-megamenu-column-2&quot; class=&quot;hidden-sm tb-megamenu-column span4  mega-col-nav&quot;&gt;
                &lt;div class=&quot;tb-megamenu-column-inner mega-inner clearfix&quot;&gt;
                  &lt;div data-type=&quot;block&quot; data-block=&quot;menu--menu-main-street-mega-menu-sub-m&quot; class=&quot;tb-megamenu-block tb-block tb-megamenu-block&quot;&gt;
                    &lt;div class=&quot;block-inner&quot;&gt;
                      &lt;section id=&quot;block-menu-menu-main-street-mega-menu-sub-m&quot; class=&quot;block block-menu clearfix&quot;&gt;
                        &lt;h2 class=&quot;block-title&quot;&gt;&lt;none&gt;&lt;/none&gt;
                        &lt;/h2&gt;
                        &lt;ul class=&quot;menu nav&quot;&gt;
                          &lt;li class=&quot;first leaf&quot;&gt;
                            &lt;a href=&quot;{{href}}&quot;&gt;Visit Main Street&lt;/a&gt;
                          &lt;/li&gt;
                          &lt;li class=&quot;last leaf&quot;&gt;
                            &lt;a href=&quot;{{href}}&quot;&gt;Main Street Live&lt;/a&gt;
                          &lt;/li&gt;
                        &lt;/ul&gt;
                      &lt;/section&gt; &lt;!-- /.block --&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/li&gt;

      &lt;li data-id=&quot;2967&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot;&quot; data-alignsub=&quot;&quot; data-group=&quot;0&quot; data-hidewcol=&quot;0&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega&quot;&gt;
        &lt;a href=&quot;{{href}}&quot;&gt; 
          About Us          
        &lt;/a&gt;
      &lt;/li&gt;

      &lt;li data-id=&quot;3757&quot; data-level=&quot;1&quot; data-type=&quot;menu_item&quot; data-class=&quot;&quot; data-xicon=&quot;&quot; data-caption=&quot;&quot; data-alignsub=&quot;&quot; data-group=&quot;0&quot; data-hidewcol=&quot;0&quot; data-hidesub=&quot;0&quot; class=&quot;tb-megamenu-item level-1 mega&quot;&gt;
        &lt;a href=&quot;{{href}}&quot;&gt; 
          Reservations          
        &lt;/a&gt;
      &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;