&lt;div class=&quot;row jigsaw-full-display-card-main-div&quot;&gt;
        &lt;div class=&quot;col-lg-8 col-md-8 col-sm-8 col-xs-12 jigsaw-full-display-card-text-div .pt-secondary-font&quot;&gt;
            &lt;h1&gt;CREATIVE PROBLEM SOLVERS&lt;/h1&gt;
                &lt;p&gt;
                    {{full-display.description}}
                &lt;/p&gt;
        &lt;/div&gt;
         &lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12 jigsaw-full-display-card-image-div&quot;&gt;
        &lt;a href=#&gt;
          &lt;img class=&quot;img-responsive jigsaw-full-display-image-card-pic&quot; src={{full-display.img-1}} /&gt;
        &lt;/a&gt;               
    &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;        
               