&lt;div class=&quot;col-md-5&quot;&gt;
&lt;div class=&quot;well well-lg&quot;&gt; 
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;img src=&quot;{{well.src}}&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
    	{{well.text}}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;