<div class="panel panel-primary">{{panel.panel-primary}}</div>
<div class="panel panel-success">{{panel.panel-success}}</div>
<div class="panel panel-info">{{panel.panel-info}}</div>
<div class="panel panel-warning">{{panel.panel-warning}}</div>
<div class="panel panel-danger">{{panel.panel-danger}}</div>