<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{panel.panel-heading}}</div>
  <div class="panel-body">
    <p>{{panel-body.p}}</p>
  </div>

  <!-- Table -->
  <table class="table">
    ...
  </table>
</div>