<div class="panel panel-default">
  <div class="panel-heading {{pt-header-panel-style}} {{pt-header-font-color}} text-center">{{panel-with-heading-heading}}</div>
  <div class="panel-body {{pt-body-panel-style}} {{pt-header-font-color}}">
    {{panel-with-heading-body}}
  </div>
</div>
