<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{panel.panel-heading}}</div>

  <!-- Table -->
  <table class="table">
    ...
  </table>
</div>
{{! If there is no panel body, the component moves from panel header to table without interruption. }}