<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{panel.panel-heading}}</div>
  <div class="panel-body">
    <p>{{panel.p}}</p>
  </div>

  <!-- List group -->
  <ul class="list-group" >
    <li class="list-group-item" style="{{styleModifier}}">{{panel.list-group-item1}}</li>
    <li class="list-group-item">{{panel.list-group-item2}}</li>
    <li class="list-group-item">{{panel.list-group-item3}}</li>
    <li class="list-group-item">{{panel.list-group-item4}}</li>
    <li class="list-group-item">{{panel.list-group-item5}}</li>
  </ul>
</div>