<img src="test.png" alt="..." class="img-rounded">
<img src="test.png" alt="..." class="img-circle">
<img src="test.png" alt="..." class="img-thumbnail">                                                                               