<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pt-tertiarymenu">
    <div class="pt-tertiarymenuwrapper">
        <a href={{url}}>
            <div class="pt-120pxwidthimage">
                {{> atoms-tertiarymenu-resp-image (imgsrc:{{imgsrc}})}}
                <!-- http://lorempixel.com/850/280/people/9/ -->
                 <div class="pt-tertiarycaption text-center">
                     <h2>Title</h2>
                     <p>Brief Description</p>
                 </div>
            </div>
        </a>
    </div>
    </div>