<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 js-osha-footer-img">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<p>
			{{top-paragraph}}
		</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 js-container-nopadding">
		{{> atoms-js-osha-image}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 js-container-nopadding">
		{{> atoms-js-msha-image}}
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<p>
			{{bottom-paragraph}}
		</p>
	</div>
</div>