
    &lt;div class=&quot;col-sm-6 col-md-4&quot; id=&quot;imgtxtlbl&quot;&gt;
        &lt;a href={{url}}&gt;
            &lt;div class=&quot;thumbnail&quot;&gt;
                &lt;img src=&quot;../../images/test.png&quot; class=&quot;img-responsive&quot; alt=&quot;Responsive image&quot;&gt;
                &lt;!-- http://lorempixel.com/850/280/people/9/ --&gt;
                 &lt;div class=&quot;caption text-center&quot;&gt;
                     &lt;h2&gt;WHO WE ARE&lt;/h2&gt;
                 &lt;/div&gt;
            &lt;/div&gt;
        &lt;/a&gt;
    &lt;/div&gt;
