&lt;label class=&quot;sr-only&quot; for=&quot;inputHelpBlock&quot;&gt;Input with help text&lt;/label&gt;
&lt;input type=&quot;text&quot; id=&quot;inputHelpBlock&quot; class=&quot;form-control&quot; aria-describedby=&quot;helpBlock&quot;&gt;
...
&lt;span id=&quot;helpBlock&quot; class=&quot;help-block&quot;&gt;A block of help text that breaks onto a new line and may extend beyond one line.&lt;/span&gt;