<div>
	<ul class="list-group">
	  <li class="list-group-item">{{list-group.text}}</li>
	  <li class="list-group-item">{{list-group.text}}</li>
	  <li class="list-group-item">{{list-group.text}}</li>
	  <li class="list-group-item">{{list-group.text}}</li>
	  <li class="list-group-item">{{list-group.text}}</li>
	</ul>
</div>