<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">{{list-group.number}}</span>
    {{list-group.text}}
  </li>
  <li class="list-group-item">
    <span class="badge">{{list-group.number}}</span>
    {{list-group.text}}
  </li>
  <li class="list-group-item">
    <span class="badge">{{list-group.number}}</span>
    {{list-group.text}}
  </li>
</ul>