<div class="list-group">
  <a href="{{list-group.href}}" class="list-group-item disabled">
    {{list-group.text}}
  </a>
  <a href="{{list-group.href}}" class="list-group-item">{{list-group.text}}</a>
  <a href="{{list-group.href}}" class="list-group-item">{{list-group.text}}</a>
  <a href="{{list-group.href}}" class="list-group-item">{{list-group.text}}</a>
  <a href="{{list-group.href}}" class="list-group-item">{{list-group.text}}</a>
</div>