<ul class="list-group">
  <li class="list-group-item list-group-item-success">{{list-group.text}}</li>
  <li class="list-group-item list-group-item-info">{{list-group.text}}</li>
  <li class="list-group-item list-group-item-warning">{{list-group.text}}</li>
  <li class="list-group-item list-group-item-danger">{{list-group.text}}</li>
</ul>
<div class="list-group">
  <a href="{{list-group.href}}" class="list-group-item list-group-item-success">{{list-group.text}}</a>
  <a href="{{list-group.href}}" class="list-group-item list-group-item-info">{{list-group.text}}</a>
  <a href="{{list-group.href}}" class="list-group-item list-group-item-warning">{{list-group.text}}</a>
  <a href="{{list-group.href}}" class="list-group-item list-group-item-danger">{{list-group.text}}</a>
</div>