<div class="list-group">
  <a href="{{list-group.href}}" class="list-group-item active">
    <h4 class="list-group-item-heading">{{list-group.text}}</h4>
    <p class="list-group-item-text">{{list-group.text}}</p>
  </a>
  <a href="{{list-group.href}}" class="list-group-item active">
    <h4 class="list-group-item-heading">{{list-group.text}}</h4>
    <p class="list-group-item-text">{{list-group.text}}</p>
  </a>
  <a href="{{list-group.href}}" class="list-group-item active">
    <h4 class="list-group-item-heading">{{list-group.text}}</h4>
    <p class="list-group-item-text">{{list-group.text}}</p>
  </a>
</div>