&lt;footer class=&quot;footer pt-footer-top&quot;&gt;
  &lt;div class=&quot;container pt-container-nopadding pt-container-full&quot;&gt;
    &lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-container-nopadding&quot;&gt;
      &lt;img src=&quot;{{src}}&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;

