<div class="text">
	<ul>
		<li>{{{text.li1}}}</li>
		<li>{{{text.li2}}}</li>
		<li>
			{{{text.li3}}}
			<ul>
				<li>{{{text.li4}}}</li>
				<li>{{{text.li5}}}</li>
			</ul>
		</li>
		<li>{{{text.li6}}}</li>
	</ul>
</div>