<div class="text">
	<ol>
		<li>{{{text.ol}}}</li>
		<li>{{{text.ol1}}}</li>
		<li>
			{{{text.ol2}}}
			<ol>
				<li>{{{text.ol3}}}</li>
				<li>{{{text.ol4}}}</li>
			</ol>
		</li>
		<li>{{{text.ol5}}}</li>
	</ol>
</div>