<dl>
	<dt>{{{dl.dt}}}</dt>
	<dd>{{{dl.dd}}}</dd>
    <dt>{{{dl.dt}}}</dt>
    <dd>{{{dl.dd1}}}<code>{{{dl.code}}}</code>{{{dl.dd2}}}</dd>
    <dt>{{{dl.dt2}}}</dt>
    <dd>{{{dl.dd3}}}</dd>
    <dt>{{{dl.dt2}}}</dt>
    <dd>{{{dl.dd4}}}</dd>
</dl>