<div>
	{{>molecules-js-primary-header-navigation}}
	<div class="element-full">
		{{>organisms-jigsaw-full-display}}
		{{>atoms-js-h2}}

	</div>
	<div class="container js-container-full  element-section">
		<div class="epic">
		{{>organisms-js-element2}}
		</div>

		{{>organisms-js-element2}}
		</div>
		

	
		
	</div>



	<div class="container js-container-full  element-project">
		{{>organisms-js-project-card}}
	</div>

	<div class= "element-p">
		{{>atoms-js-h2}}

		{{>atoms-paragraph (p:"Bacon ipsum dolor amet frankfurter t-bone chuck hamburger. Tenderloin spare ribs ham hock porchetta brisket alcatra andouille boudin bacon ribeye. Pancetta porchetta sirloin pork belly tail. Chicken biltong venison pastrami, kielbasa turkey ribeye ground round. Tri-tip picanha beef bacon, shoulder meatloaf filet mignon pancetta tongue. Ball tip short ribs fatback chuck boudin cow tenderloin. Drumstick salami ham, pig kevin shankle turducken meatloaf kielbasa pork loin beef tenderloin tail chicken.")}}

	</div>










	{{>organisms-js-footer}}
<div>