&lt;div class=&quot;row-fluid&quot;&gt;
	&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12&quot;&gt;
		&lt;div class =&quot;home-page-upper-text&quot;&gt;
			&lt;p&gt;At Jigsaw we value the relationships with our employees our customers and our community. These relationships are based upon four fundamental principals that we uphold everyday.&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class =&quot;home-page-principals&quot;&gt;
			&lt;dl&gt;
				&lt;dt&gt;Our Four Principals&lt;/dt&gt;
				&lt;dd&gt;We work safe.&lt;/dd&gt;
				&lt;dd&gt;We get along.&lt;/dd&gt;
				&lt;dd&gt;We do good work.&lt;/dd&gt;
				&lt;dd&gt;We control our costs.&lt;/dd&gt;
			&lt;/dl&gt;

		&lt;/div&gt;	
	&lt;/div&gt;
&lt;/div&gt;