&lt;form class=&quot;form-horizontal&quot;&gt;
  &lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
    &lt;label class=&quot;control-label col-sm-3&quot; for=&quot;inputSuccess3&quot;&gt;Input with success&lt;/label&gt;
    &lt;div class=&quot;col-sm-9&quot;&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess3&quot; aria-describedby=&quot;inputSuccess3Status&quot;&gt;
      &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
      &lt;span id=&quot;inputSuccess3Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
    &lt;label class=&quot;control-label col-sm-3&quot; for=&quot;inputGroupSuccess2&quot;&gt;Input group with success&lt;/label&gt;
    &lt;div class=&quot;col-sm-9&quot;&gt;
      &lt;div class=&quot;input-group&quot;&gt;
        &lt;span class=&quot;input-group-addon&quot;&gt;@&lt;/span&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputGroupSuccess2&quot; aria-describedby=&quot;inputGroupSuccess2Status&quot;&gt;
      &lt;/div&gt;
      &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
      &lt;span id=&quot;inputGroupSuccess2Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;