&lt;div class=&quot;list-group&quot;&gt;
  &lt;button type=&quot;button&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/button&gt;
&lt;/div&gt;