&lt;h1&gt;&quot;{{{text.h1}}}&quot; &lt;span class=&quot;label label-default&quot;&gt;{{{label.h1}}}&lt;/span&gt;&lt;/h1&gt;

&lt;h2&gt;&quot;{{{text.h2}}}&quot; &lt;span class=&quot;label label-default&quot;&gt;{{{label.h2}}}&lt;/span&gt;&lt;/h2&gt;

&lt;h3&gt;&quot;{{{text.h3}}}&quot; &lt;span class=&quot;label label-default&quot;&gt;{{{label.h3}}}&lt;/span&gt;&lt;/h3&gt;

&lt;h4&gt;&quot;{{{text.h4}}}&quot; &lt;span class=&quot;label label-default&quot;&gt;{{{label.h4}}}&lt;/span&gt;&lt;/h4&gt;

&lt;h5&gt;&quot;{{{text.h5}}}&quot; &lt;span class=&quot;label label-default&quot;&gt;{{{label.h5}}}&lt;/span&gt;&lt;/h5&gt;

&lt;h6&gt;&quot;{{{text.h6}}}&quot; &lt;span class=&quot;label label-default&quot;&gt;{{{label.h6}}}&lt;/span&gt;&lt;/h6&gt;