&lt;blockquote class=&quot;blockquote-reverse&quot;&gt;
  &lt;p&gt;{{{blockquote.p}}}&lt;/p&gt;
  &lt;footer&gt;{{{blockquote.footer}}}&lt;cite title=&quot;Source Title&quot;&gt;{{{blockquote.title}}}&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;