&lt;div class=&quot;thumbnail&quot;&gt;
	&lt;img src=&quot;{{thumbnail.src}}&quot; alt=&quot;{{thumbnail.alt}}&quot;&gt;
	&lt;div class=&quot;caption&quot;&gt;
		&lt;h3&gt;{{thumbnail.label}}&lt;/h3&gt;
		&lt;p&gt;{{thumbnail.description}}&lt;/p&gt;
		&lt;p&gt;&lt;a href=&quot;{{thumbnail.href}}&quot; class=&quot;btn btn-primary&quot; role=&quot;button&quot;&gt;{{thumbnail.link}}&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;