&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12 js-osha-footer-img&quot;&gt;
	&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center&quot;&gt;
		&lt;p&gt;
			{{top-paragraph}}
		&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col-lg-6 col-md-6 col-sm-6 col-xs-6 js-container-nopadding&quot;&gt;
		{{&gt; atoms-js-osha-image}}
	&lt;/div&gt;
	&lt;div class=&quot;col-lg-6 col-md-6 col-sm-6 col-xs-6 js-container-nopadding&quot;&gt;
		{{&gt; atoms-js-msha-image}}
	&lt;/div&gt;
	&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center&quot;&gt;
		&lt;p&gt;
			{{bottom-paragraph}}
		&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;