
&lt;div class=&quot;jumbotron&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
     &lt;h1&gt;{{jumbotron.h1}}&lt;/h1&gt;
     &lt;p&gt;&lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;{{jumbotron.a}}&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;