&lt;div class=&quot;text&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;{{{text.li1}}}&lt;/li&gt;
		&lt;li&gt;{{{text.li2}}}&lt;/li&gt;
		&lt;li&gt;
			{{{text.li3}}}
			&lt;ul&gt;
				&lt;li&gt;{{{text.li4}}}&lt;/li&gt;
				&lt;li&gt;{{{text.li5}}}&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;{{{text.li6}}}&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;