&lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
  &lt;label class=&quot;control-label sr-only&quot; for=&quot;inputSuccess5&quot;&gt;Hidden label&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess5&quot; aria-describedby=&quot;inputSuccess5Status&quot;&gt;
  &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;span id=&quot;inputSuccess5Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
  &lt;label class=&quot;control-label sr-only&quot; for=&quot;inputGroupSuccess4&quot;&gt;Input group with success&lt;/label&gt;
  &lt;div class=&quot;input-group&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;@&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputGroupSuccess4&quot; aria-describedby=&quot;inputGroupSuccess4Status&quot;&gt;
  &lt;/div&gt;
  &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;span id=&quot;inputGroupSuccess4Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
&lt;/div&gt;