&lt;ul class=&quot;list-group&quot;&gt;
  &lt;li class=&quot;list-group-item list-group-item-success&quot;&gt;{{list-group.text}}&lt;/li&gt;
  &lt;li class=&quot;list-group-item list-group-item-info&quot;&gt;{{list-group.text}}&lt;/li&gt;
  &lt;li class=&quot;list-group-item list-group-item-warning&quot;&gt;{{list-group.text}}&lt;/li&gt;
  &lt;li class=&quot;list-group-item list-group-item-danger&quot;&gt;{{list-group.text}}&lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;list-group&quot;&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item list-group-item-success&quot;&gt;{{list-group.text}}&lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item list-group-item-info&quot;&gt;{{list-group.text}}&lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item list-group-item-warning&quot;&gt;{{list-group.text}}&lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item list-group-item-danger&quot;&gt;{{list-group.text}}&lt;/a&gt;
&lt;/div&gt;