&lt;header class=&quot;pt-header&quot;&gt;
	&lt;div class=&quot;container pt-container-full pt-container-nopadding&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 hidden-xs&quot;&gt;
				{{&gt; molecules-pt-secondary-menu}}
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 hidden-xs pt-story-menu text-center&quot;&gt;
				{{&gt; molecules-pt-story-nav}}
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-header-logo text-center&quot;&gt;
				{{&gt; atoms-pt-header-logo}}
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 hidden-xs&quot;&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-5 pull-right&quot;&gt;
				{{&gt; molecules-pt-primary-nav}}
			&lt;/div&gt;
			&lt;div class=&quot;hidden-lg hidden-md hidden-sm col-xs-7 text-center pull-left pt-story-menu&quot;&gt;
				{{&gt; molecules-pt-story-nav}}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/header&gt;&lt;!-- /header --&gt;