&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
  &lt;div class=&quot;col-md-1&quot;&gt;{{row.col-1}}&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-8&quot;&gt;{{row.col-2}}&lt;/div&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;{{row.col-3}}&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;{{row.col-3}}&lt;/div&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;{{row.col-3}}&lt;/div&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;{{row.col-3}}&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-6&quot;&gt;{{row.col-4}}&lt;/div&gt;
  &lt;div class=&quot;col-md-6&quot;&gt;{{row.col-4}}&lt;/div&gt;
&lt;/div&gt;