&lt;ul class=&quot;list-group&quot;&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;
    &lt;span class=&quot;badge&quot;&gt;{{list-group.number}}&lt;/span&gt;
    {{list-group.text}}
  &lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;
    &lt;span class=&quot;badge&quot;&gt;{{list-group.number}}&lt;/span&gt;
    {{list-group.text}}
  &lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;
    &lt;span class=&quot;badge&quot;&gt;{{list-group.number}}&lt;/span&gt;
    {{list-group.text}}
  &lt;/li&gt;
&lt;/ul&gt;