&lt;div class=&quot;list-group&quot;&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item active&quot;&gt;
    {{list-group.text}}
  &lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item&quot;&gt;{{list-group.text}}&lt;/a&gt;
&lt;/div&gt;