&lt;div class=&quot;pt-attractioncardimage&quot;&gt;
	{{&gt;atoms-resp-image(imgsrc:&quot;../../images/Desktop_Attractions-06.jpg&quot;)}}
	&lt;div class=&quot;pt-lwrtxtsectn&quot;&gt;
			&lt;div class=&quot;pt-attractioncardtitle text-center&quot;&gt;
				{{&gt;atoms-headings-h1}}
			&lt;/div&gt;
	
		&lt;div class=&quot;pt-attractioncardpgtitle&quot;&gt;
			{{&gt;atoms-headings-h2}}
		&lt;/div&gt;
		&lt;div class=&quot;pt-attractioncardpg&quot;&gt;
			{{&gt;atoms-paragraph}}
		&lt;/div&gt;
		&lt;div class=&quot;pt-timelocation&quot;&gt;
			{{&gt;molecules-timelocation}}
		&lt;/div&gt;
		&lt;div class=&quot;pt-attractioncardbttm&quot;&gt;
			{{&gt;molecules-bottomsectionattrctncard}}
		&lt;/div&gt;
	&lt;/div&gt;	
&lt;/div&gt;