&lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputSuccess2&quot;&gt;Input with success&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess2&quot; aria-describedby=&quot;inputSuccess2Status&quot;&gt;
  &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;span id=&quot;inputSuccess2Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-warning has-feedback&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputWarning2&quot;&gt;Input with warning&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputWarning2&quot; aria-describedby=&quot;inputWarning2Status&quot;&gt;
  &lt;span class=&quot;glyphicon glyphicon-warning-sign form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;span id=&quot;inputWarning2Status&quot; class=&quot;sr-only&quot;&gt;(warning)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-error has-feedback&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputError2&quot;&gt;Input with error&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputError2&quot; aria-describedby=&quot;inputError2Status&quot;&gt;
  &lt;span class=&quot;glyphicon glyphicon-remove form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;span id=&quot;inputError2Status&quot; class=&quot;sr-only&quot;&gt;(error)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;inputGroupSuccess1&quot;&gt;Input group with success&lt;/label&gt;
  &lt;div class=&quot;input-group&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;@&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputGroupSuccess1&quot; aria-describedby=&quot;inputGroupSuccess1Status&quot;&gt;
  &lt;/div&gt;
  &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;span id=&quot;inputGroupSuccess1Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
&lt;/div&gt;