&lt;div&gt;
	
	{{&gt;atoms-circleimage (imgsrc:&quot;../../images/JS_Home_ProfileImage_3.png&quot;)}}
	
	
    {{&gt;atoms-circleimage (imgsrc:&quot;../../images/JS_Home_CircleLogo-29.png&quot;)}}
   
    
	{{&gt;atoms-circleimage (imgsrc:&quot;../../images/JS_Home_ProfileImage_5.png&quot;)}}


 




&lt;/div&gt;
