&lt;div class=&quot;navbar navbar-static&quot;&gt;
    &lt;div class=&quot;navbar-inner&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;brand&quot;&gt;Brand&lt;/a&gt;
        &lt;ul role=&quot;navigation&quot; class=&quot;nav&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Profile&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;#&quot; data-toggle=&quot;dropdown&quot; class=&quot;dropdown-toggle&quot;&gt;Messages &lt;b class=&quot;caret&quot;&gt;&lt;/b&gt;&lt;/a&gt;
                &lt;ul class=&quot;dropdown-menu&quot;&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Inbox&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Drafts&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sent Items&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Trash&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;ul class=&quot;nav pull-right&quot;&gt;
            &lt;li class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;#&quot; data-toggle=&quot;dropdown&quot; class=&quot;dropdown-toggle&quot;&gt;Admin &lt;b class=&quot;caret&quot;&gt;&lt;/b&gt;&lt;/a&gt;
                &lt;ul class=&quot;dropdown-menu&quot;&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Settings&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
