&lt;h1&gt; &quot;{{{text.h1}}}&quot; &lt;small&gt;&quot;{{{secondary.h1}}}&quot;&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt; &quot;{{{text.h2}}}&quot; &lt;small&gt;&quot;{{{secondary.h2}}}&quot;&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt; &quot;{{{text.h3}}}&quot; &lt;small&gt;&quot;{{{secondary.h3}}}&quot;&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt; &quot;{{{text.h4}}}&quot; &lt;small&gt;&quot;{{{secondary.h4}}}&quot;&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt; &quot;{{{text.h5}}}&quot; &lt;small&gt;&quot;{{{secondary.h5}}}&quot;&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt; &quot;{{{text.h6}}}&quot; &lt;small&gt;&quot;{{{secondary.h6}}}&quot;&lt;/small&gt;&lt;/h6&gt;