&lt;div class=&quot;js-footer js-container-full js-container-nopadding&quot;&gt;
	&lt;div class=&quot;js-container-full js-container-nopadding&quot;&gt;
		&lt;div class=&quot;row-fluid&quot;&gt;
			&lt;div&gt;
				&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 js-footer-middle text-center&quot;&gt;
					{{&gt; molecules-js-footer-mid-col-1(heading:&quot;Meet Bill&quot;, paragraph:&quot;Bill was a wild goat who decided to jion our team as our machinery night watchmen at one of our job sights. He has become a valued member of our team, his tenacity and sure footedness has come to represent our company.&quot;)}}
					{{&gt; molecules-js-footer-mid-col-2(heading:&quot;Contact Us&quot;, name:&quot;JIGSAW ENTERPRISES&quot;, street:&quot;LEFT FORK ISLAND CREEK&quot;, city-state:&quot;PIKEVILLE, KY 41501&quot;, phone:&quot;PHONE: 606-437-9090&quot;, email:&quot;EMAIL: INFO@JIGSAWEMAIL.COM&quot;)}}
					{{&gt; molecules-js-footer-mid-col-3}}
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 js-footer-bottom &quot;&gt;
					{{&gt; molecules-js-footer-col-1(top-paragraph:&quot;We Are&quot;, bottom-paragraph:&quot;COMPLIANT&quot;)}}
					{{&gt; molecules-js-footer-col-2(heading:&quot;Our Values&quot;, paragraph:&quot;Honesty, Integrity, Quality, Professionalism&quot;)}}
					{{&gt; molecules-js-footer-col-3}}
					{{&gt; molecules-js-footer-col-4}}
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;