&lt;div class=&quot;js-tertiary-menu&quot;&gt;
    &lt;div class=&quot;js-tertiary-menu-wrapper&quot;&gt;
        &lt;a href={{url}}&gt;
            &lt;div class=&quot;js-120pxwidthimage&quot;&gt;
                {{&gt; atoms-tertiarymenu-resp-image (imgsrc:{{imgsrc}})}}
                &lt;!-- http://lorempixel.com/850/280/people/9/ --&gt;
                 &lt;div class=&quot;js-tertiary-caption text-center&quot;&gt;
                     &lt;h2&gt;{{Title}}&lt;/h2&gt;
                     &lt;h4&gt;{{Description}}&lt;/h4&gt;
                 &lt;/div&gt;
            &lt;/div&gt;
        &lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;