&lt;div class=&quot;region region-footer-first&quot;&gt;
      &lt;section id=&quot;block-block-6&quot; class=&quot;block block-block col-lg-10 col-offset-lg-1 clearfix&quot;&gt;
            &lt;p class=&quot;{{title}}&quot;&gt;{{&gt;atoms-paragraph(p:Pikeville's Contact)}}&lt;/p&gt;
            &lt;p class=&quot;{{phone}}&quot;&gt;{{&gt;atoms-paragraph(p:Phone)}}&lt;/p&gt;
            &lt;p class=&quot;{{address}}&quot;&gt;{{&gt;atoms-paragraph(p:Address)}}&lt;/p&gt;
            {{&gt;atoms-pt-gmap-button(text:View Map, href:https://maps.google.com/maps?ll=37.482292,-82.515488&amp;amp;z=16&amp;amp;t=m&amp;amp;hl=en-US&amp;amp;gl=US&amp;amp;mapclient=embed&amp;amp;cid=10362512147854992350)}}
      	
      &lt;/section&gt;
&lt;!-- /.block --&gt;
&lt;/div&gt;