&lt;div class=&quot;row&quot;&gt;    
  &lt;br&gt;
    &lt;div class=&quot;col-md-2 col-sm-3 text-center&quot;&gt;
      &lt;a class=&quot;story-title&quot; href=&quot;{{{row.href}}}&quot;&gt;&lt;img alt=&quot;{{{row.alt}}}&quot; src=&quot;{{{row.src}}}&quot; style=&quot;width:100px;height:100px&quot; class=&quot;img-circle&quot;&gt;&lt;/a&gt;
    &lt;/div&gt;
            
    &lt;div class=&quot;col-md-10 col-sm-9&quot;&gt;
      &lt;h3&gt;{{{row.h3}}}&lt;/h3&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-xs-9&quot;&gt;
        &lt;h4&gt;&lt;span class=&quot;label label-default&quot;&gt;{{{row.h4}}}&lt;/span&gt;&lt;/h4&gt;&lt;h4&gt;
        &lt;small style=&quot;font-family:courier,'new courier';&quot; class=&quot;text-muted&quot;&gt;{{{row.text-muted}}}&lt;a href=&quot;#&quot; class=&quot;text-muted&quot;&gt;{{{row.text-muted1}}}&lt;/a&gt;&lt;/small&gt;
        &lt;/h4&gt;&lt;/div&gt;
      &lt;div class=&quot;col-xs-3&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;br&gt;&lt;br&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;hr&gt;