<div class="jumbotron pt-jumbotron">
  <div class="row">
  <div class="col-md-12 img-container">
    <img src="{{img}}" class="img-responsive img-back" />
    <div class="pt-jumboImageText">
     <h1>{{h1}}</h1>
     <p><a class="btn btn-primary pt-btn-xlg" href="#" role="button">{{a}}</a></p>
     </div>
     </div>
     </div>
</div>