
    <div class="col-sm-6 col-md-4" id="imgtxtlbl">
        <a href={{url}}>
            <div class="thumbnail">
                <img src="../../images/test.png" class="img-responsive" alt="Responsive image">
                <!-- http://lorempixel.com/850/280/people/9/ -->
                 <div class="caption text-center">
                     <h2>WHO WE ARE</h2>
                 </div>
            </div>
        </a>
    </div>
