<div class="jumbotron pt-jumbotron">
  <div class="row">
  <div class="col-md-12 img-container">
    <img src="http://localhost:8888/source/images/fpo_16x9.png" class="img-responsive img-back" />
    <div class="pt-jumboImageText">
     <h1>{{jumbotron-card-nobtn.h1}}</h1>
     </div>
     </div>
     </div>
</div>