
<div class="videocard">
	<div class="row">
		<div class="col-lg-12 pt-outside-video-card">
			<img class="img-responsive img-back" src={{video-card.img-1}} />
			<a href={{url}}>
				<div class="pt-inside-video-card text-center">
				 <img class="img-responsive btn-link" src={{video-card.img-2}} />
				</div>
			</a>
		</div>
	</div>
</div>
<div class = "pt-video-card-title">
	{{>atoms-headings-h1(h1:"All About Pikeville")}}
</div>
<div>
	<p>Text goes here.</p>
</div>

