
<div class="col-sm-6 col-md-4 pt-container-nopadding pt-staff_background" width="355" height="250px">
{{> atoms-staff-profile}}
    <div class="caption text-center">
    	<h2>WHO WE ARE</h2>
    </div>
</div>


