
<div class="js-tertiary-menu">
	<div class="row-fluid">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="row-fluid">
			<div class="col-lg-8 col-md-8 col-sm-8 js-tertiary-menu-shadow">				
  				<div class="col-lg-4 col-md-4 col-sm-4 ">{{>atoms-js_tertiary_menu_card(imgsrc:"../../images/JS_Home_Industrial_Icon.png",Title:"INDUSTRIAL",Description:"Projects")}}</div>
  				<div class="col-lg-4 col-md-4 col-sm-4 ">{{>atoms-js_tertiary_menu_card(imgsrc:"../../images/JS_Home_Commercial_Icon.png",Title:"COMMERCIAL",Description:"Projects")}}</div>
          <div class="col-lg-4 col-md-4 col-sm-4 ">{{>atoms-js_tertiary_menu_card(imgsrc:"../../images/JS_Home_Government_Icon.png",Title:"GOVERNMENT",Description:"Projects")}}</div>
  			</div>
  		</div>
  		<div class="col-lg-2 col-md-2 col-sm-2"></div>  			
	</div>
</div>