<div class="pt-attractioncardimage">
	{{>atoms-resp-image(imgsrc:"../../images/Desktop_Attractions-06.jpg")}}
	<div class="pt-lwrtxtsectn">
			<div class="pt-attractioncardtitle text-center">
				{{>atoms-headings-h1}}
			</div>
	
		<div class="pt-attractioncardpgtitle">
			{{>atoms-headings-h2}}
		</div>
		<div class="pt-attractioncardpg">
			{{>atoms-paragraph}}
		</div>
		<div class="pt-timelocation">
			{{>molecules-timelocation}}
		</div>
		<div class="pt-attractioncardbttm">
			{{>molecules-bottomsectionattrctncard}}
		</div>
	</div>	
</div>