<div class="pt-service-card-org col-lg-4 col-md-4 col-sm-6 col-xs-12" >
	<div class="pt-service-card-wrapper">
		<div class="pt-service-card-image">
			{{> atoms-resp-image (imgsrc:http://localhost:8888/source/images/Bear_Blue_320-240.jpg)}}
		</div>
			<div class="pt-service-title-background text-center">
				<h2>{{title}}</h2>
			</div>
				<div class="pt-service-card-bottom text-center">
					<p>{{address}}
					</br>
					{{number}}
					</br>
					<a href="
					{{link}}">{{link}}</a>
					</br>
					{{social-media}}<p>
					<p><a href="google.com"><span class="glyphicon glyphicon-glass" style="text-shadow:2px 2px DimGray;"></span></a></p>
					<button type="button" class="btn btn-primary btn-lg btn-block pt-search-bigger-btn-padding col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="pt-search-bigger-btn-text">{{label}}</span></button>
			</div>
	</div>
</div>