<div class= "pt-staff-card">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-staff-card-outer-div">
			<div class="pt-staff-card-inner-div">
			    <img class="img-responsive pt-staff-card-image" src={{image-card.img-1}} />
					<div> 
					<p class= "pt-staff-card-call-to-action-text">
					<p class="pt-staff-card-name">{{image-card.name}}</p>
					<div class="pt-staff-card-border"></div>
					<p class="pt-staff-card-position">{{image-card.position}}</p>
					<a href="#"><p class="pt-staff-card-email">{{image-card.email}}</p></a>
					<p class="pt-staff-card-phone">{{image-card.phone#}}</p>
					<pclass="pt-staff-card-description">{{image-card.description}}</p>
					</div>
			</div>	
		</div>
	</div>
</div>