<div class="row jigsaw-full-display-card-main-div">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 jigsaw-full-display-card-text-div .pt-secondary-font">
            <h1>CREATIVE PROBLEM SOLVERS</h1>
                <p>
                    {{full-display.description}}
                </p>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jigsaw-full-display-card-image-div">
        <a href=#>
          <img class="img-responsive jigsaw-full-display-image-card-pic" src={{full-display.img-1}} />
        </a>               
    </div>
    </div>
</div>        
               