<div class="js-front-profile">
	<div class="row-fluid js-front-profile-img">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="text-center">
					{{>atoms-circleimage (imgsrc:"../../images/JS_Home_ProfileImage_3.png")}}
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="text-center">
					{{>atoms-circleimage (imgsrc:"../../images/JS_Home_CircleLogo_NoShadow-29.png")}}
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="text-center">
					{{>atoms-circleimage (imgsrc:"../../images/JS_Home_ProfileImage_5.png")}}
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 js-circle-img-paragraph text-center">
				<h4>{{h4}}</h4>
				<p>{{p1}}</p>
				<p>{{p2}}</p>
			</div>
		</div>
	</div>
</div>