<div class="jumbotron jigsaw-jumbotron">
  <div class="row-fluid">
  	<div class="col-lg-12 jigsaw-jumbotron-img-container">
    		<img src="{{img-1}}" class="img-responsive" />
    	<div class="jigsaw-jumbotron-text">
 			<h1>About Us</h1>
 			<div class="js-jumbotron-p-text">
     		 <p>{{description}}</p>
     		</div>
     	</div>
     </div>
 </div>
</div>