<div class="aboutusptag">
	<div>
	 <img class="js-aboutusimage" src="../../images/JS_AboutUs_Icons-01.png"/>
	</div>
   	<div>
    {{>atoms-h3(h3:"EXPERTISE")}}
	</div>

	<div>
   	{{>molecules-basicpanel(panel-body:<span>"Jigsaw provides a diverse array of land forming services and is experienced working within the construction management, design/bid/build and design/build project delivery formats.  We have successfully performed publicly, privately and hybrid publicly/privately funded projects.</span><br><span><br></span>

<span>Our portfolio of successfully completed projects spans decades and incorporates a diverse array of project types including transportation, energy, industrial, environmental, historical, sports and recreational facilities, and property development both commercial and residential.</span><br><span><br></span> 

<span>Our customers come from many sectors both public and private including federal, state, and local government agencies, public utilities, manufacturing, industrial, commercial,  communication businesses, and energy both coal and gas.</span><span><br></span>
")}}
   </div>



    
  
    


</div>