
<div class="aboutusptag">
	<div>
	 <img class="js-aboutusimage" src="{{ src }}" alt="{{ alt }}"/>
	</div>
   	<div>
    {{>atoms-h3(h3:"OUR PORTFOLIO")}}
	</div>
	<div>
   	{{>molecules-basicpanel(panel-body:"Our portfolio of completed projects includes residential subdivisions,golf courses,sports fields,tourism sites,road and bridge contstruction,commercial site development,abandoned mine reclamation,cell tower site development,electrical and underground utility site development,storm drainage projects slope stabilization projects,sediment control projects,mass excavation,stream mitigation, and enclosed space excavation.")}}
   </div>
</div>