<div class="row-fluid">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
    <div class="x btn-div">
      <div class="js-project-img">
        <button type="button" class="btn btn-link btn-a" />
        <h4>MORE DETAILS</h4></button>
        <button type="button" class="btn btn-link btn-b" /><h4>VIEW LARGER</h4></button>
        <img class="img-responsive" align="middle" src="../../images/JS_Home_Project_Example3.png"/>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
    <div class="x btn-div">
       <div class="js-project-img">
        <button type="button" class="btn btn-link btn-a" />
        <h4>MORE DETAILS</h4></button>
        <button type="button" class="btn btn-link btn-b" /><h4>VIEW LARGER</h4></button>
        <img class="img-responsive" align="middle" src="../../images/JS_Home_Project_Example3.png"/>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
    <div class="x btn-div">
       <div class="js-project-img">
        <button type="button" class="btn btn-link btn-a" />
        <h4>MORE DETAILS</h4></button>
        <button type="button" class="btn btn-link btn-b" /><h4>VIEW LARGER</h4></button>
        <img class="img-responsive" align="middle" src="../../images/JS_Home_Project_Example3.png"/>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
    <div class="x btn-div">
       <div class="js-project-img">
        <button type="button" class="btn btn-link btn-a" />
        <h4>MORE DETAILS</h4></button>
        <button type="button" class="btn btn-link btn-b" /><h4>VIEW LARGER</h4></button>
        <img class="img-responsive" align="middle" src="../../images/JS_Home_Project_Example3.png"/>
      </div>
    </div>
  </div>
</div>