<div class= "js-element-container">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 element-card-outer-div">
		<div class="row-fluid js-inner-element"> 
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element.png")}}
  				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element2.png")}}
				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element.png")}}
  				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element2.png")}}
				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element.png")}}
  				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element2.png")}}
				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element.png")}}
  				<p class="imagetext"><br>Element Title</p>
			</div>
			<div class="element col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{<atoms-resp-image (imgsrc:"../../images/JS_Example_Element2.png")}}
				<p class="imagetext"><br>Element Title</p>
			</div>
		</div>  
	</div>
</div>