<div class="row-fluid">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="x btn-div">
			<button type="button" class="btn btn-link btn-a" />
			<h4>MORE DETAILS</h4></button>
			<button type="button" class="btn btn-link btn-b" /><h4>VIEW LARGER</h4></button>
			<img src="../../images/JS_Home_Project_Example3.png"/>
		</div>
	</div>
</div>