<div class="row-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class ="home-page-upper-text">
			<p>At Jigsaw we value the relationships with our employees our customers and our community. These relationships are based upon four fundamental principals that we uphold everyday.</p>
		</div>
		<div class ="home-page-principals">
			<dl>
				<dt>Our Four Principals</dt>
				<dd>We work safe.</dd>
				<dd>We get along.</dd>
				<dd>We do good work.</dd>
				<dd>We control our costs.</dd>
			</dl>

		</div>	
	</div>
</div>