<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 js-meet-bill-col">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 js-goat-img">
		{{> atoms-goat-image}}
	</div>
	<div class="col-lg-6 col-md-6 hidden-sm col-xs-12">
		<h4 class="text-left">
			{{heading}}
		</h4>
		<p class="text-left">
			{{paragraph}}
		</p>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 js-footer-button">
		{{> atoms-primary-block-button(text:"View Image Gallery")}}
	</div>
</div>