<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">{{{nav.text}}} <span class="badge">{{{nav.badge}}}</span></a></li>
  <li role="presentation"><a href="{{nav.href}}">{{{nav.text1}}}</a></li>
  <li role="presentation"><a href="{{nav.href}}">{{{nav.text2}}} <span class="badge">{{{nav.badge2}}}</span></a></li>
</ul>