<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 pt-attrctnsocmda">
    	<div class="row">
    		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{> molecules-socialmedia-glyphicon-link-facebook(url: "http://www.facebook.com/bitsourceky",
        platform: "facebook", size: "32", styleModifier :"btn azm-social azm-circle azm-long-shadow ")}}</div>
    		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{> molecules-socialmedia-glyphicon-link-twitter(url: "http://www.twitter.com/bitsourceky",
        platform: "twitter", size: "64", styleModifier: "btn azm-social azm-circle azm-long-shadow ")}}</div>
  		</div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3 pt-respnavicons">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="">{{>atoms-resp-image(imgsrc:"../../images/ic_explore_black_36dp.png") }}</a></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="">{{>atoms-resp-image(imgsrc:"../../images/ic_get_app_black_36dp.png") }}</a></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="">{{>atoms-resp-image(imgsrc:"../../images/ic_info_outline_black_36dp.png") }}</a></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="">{{>atoms-resp-image(imgsrc:"../../images/ic_photo_library_black_36dp.png") }}</a></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="">{{>atoms-resp-image(imgsrc:"../../images/ic_share_black_36dp.png") }}</a></div>
      </div>
    </div>
    <div class="col-lg-3 pull-right">
    	<button type="button" class="btn btn-primary btn-lg">{{buttontitle}}</button>
    </div>
  </div>
</div>