&lt;div class=&quot;jumbotron pt-jumbotron&quot;&gt;
  &lt;div class=&quot;row pt-jumboVideo&quot;&gt;
  &lt;div class=&quot;pt-jumboVideoText&quot;&gt;
    &lt;h2&gt;{{jumbotron-card-video.h2}}&lt;/h2&gt;
     &lt;/div&gt;
     &lt;video autoplay loop muted width=&quot;100%&quot; height=&quot;100%&quot;&gt;
  &lt;source src=&quot;{{jumbotron-card-video.video}}&quot; type=&quot;video/mp4&quot;&gt;
&lt;/video&gt;
     &lt;/div&gt;
&lt;/div&gt;