&lt;section class=&quot;container&quot; id=&quot;section7&quot;&gt;
	&lt;h1 class=&quot;text-center&quot;&gt;Social Media Fascination&lt;/h1&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;!--fontawesome icons--&gt;
      &lt;div class=&quot;col-sm-1 col-sm-offset-2 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-github fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-foursquare fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
       	&lt;i class=&quot;fa fa-facebook fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-pinterest fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-google-plus fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-twitter fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-dribbble fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;col-sm-1 col-xs-4 text-center&quot;&gt;
            &lt;i class=&quot;fa fa-instagram fa-4x&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;

  &lt;/div&gt;&lt;!--/row--&gt;
  &lt;/section&gt;