&lt;div class=&quot;checkbox&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;blankCheckbox&quot; value=&quot;option1&quot; aria-label=&quot;...&quot;&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;radio&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;blankRadio&quot; id=&quot;blankRadio1&quot; value=&quot;option1&quot; aria-label=&quot;...&quot;&gt;
  &lt;/label&gt;
&lt;/div&gt;