&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-6 col-md-3&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;thumbnail&quot;&gt;
	  &lt;img src=&quot;{{thumbnail.src}}&quot; alt=&quot;{{thumbnail.alt}}&quot;&gt;
	&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;