&lt;div class=&quot;panel panel-default&quot;&gt;
  &lt;div class=&quot;panel-heading {{pt-header-panel-style}} {{pt-header-font-color}} text-center&quot;&gt;{{panel-with-heading-heading}}&lt;/div&gt;
  &lt;div class=&quot;panel-body {{pt-body-panel-style}} {{pt-header-font-color}}&quot;&gt;
    {{panel-with-heading-body}}
  &lt;/div&gt;
&lt;/div&gt;
