&lt;p class=&quot;text-left&quot;&gt;{{{left.p}}}&lt;/p&gt;
&lt;p class=&quot;text-center&quot;&gt;{{{center.p}}}&lt;/p&gt;
&lt;p class=&quot;text-right&quot;&gt;{{{right.p}}}&lt;/p&gt;
&lt;p class=&quot;text-justify&quot;&gt;{{{justify.p}}}&lt;/p&gt;
&lt;p class=&quot;text-nowrap&quot;&gt;{{{nowrap.p}}}&lt;/p&gt;