&lt;div class=&quot;js-front-profile&quot;&gt;
	&lt;div class=&quot;row-fluid js-front-profile-img&quot;&gt;
		&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12&quot;&gt;
			&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12&quot;&gt;
				&lt;div class=&quot;text-center&quot;&gt;
					{{&gt;atoms-circleimage (imgsrc:&quot;../../images/JS_Home_ProfileImage_3.png&quot;)}}
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12&quot;&gt;
				&lt;div class=&quot;text-center&quot;&gt;
					{{&gt;atoms-circleimage (imgsrc:&quot;../../images/JS_Home_CircleLogo_NoShadow-29.png&quot;)}}
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12&quot;&gt;
				&lt;div class=&quot;text-center&quot;&gt;
					{{&gt;atoms-circleimage (imgsrc:&quot;../../images/JS_Home_ProfileImage_5.png&quot;)}}
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 js-circle-img-paragraph text-center&quot;&gt;
				&lt;h4&gt;{{h4}}&lt;/h4&gt;
				&lt;p&gt;{{p1}}&lt;/p&gt;
				&lt;p&gt;{{p2}}&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;