&lt;div class=&quot;panel panel-default&quot;&gt;
  &lt;div class=&quot;panel-heading&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;pull-right&quot;&gt;View all&lt;/a&gt; &lt;h4&gt;Portlet Heading&lt;/h4&gt;&lt;/div&gt;
    &lt;div class=&quot;panel-body&quot;&gt;
      &lt;ul class=&quot;list-group&quot;&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
          &lt;span href=&quot;#&quot; class=&quot;btn-group btn-toggle pull-right&quot;&gt; 
          &lt;button class=&quot;btn btn-xs btn-default&quot;&gt;On&lt;/button&gt;
          &lt;button class=&quot;btn btn-xs btn-primary active&quot;&gt;Off&lt;/button&gt;
          &lt;/span&gt;  
          Bootply
        &lt;/li&gt;
          &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;span href=&quot;#&quot; class=&quot;btn-group btn-toggle pull-right&quot;&gt; 
            &lt;button class=&quot;btn btn-xs btn-primary active&quot;&gt;On&lt;/button&gt;
            &lt;button class=&quot;btn btn-xs btn-default&quot;&gt;Off&lt;/button&gt;
            &lt;/span&gt; Templates&lt;/li&gt;
          &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;span href=&quot;#&quot; class=&quot;btn-group btn-toggle pull-right&quot;&gt; 
            &lt;button class=&quot;btn btn-xs btn-default&quot;&gt;On&lt;/button&gt;
            &lt;button class=&quot;btn btn-xs btn-primary active&quot;&gt;Off&lt;/button&gt;
            &lt;/span&gt; Snippets&lt;/li&gt;
          &lt;/ul&gt;
      &lt;/div&gt;&lt;!--/panel-body--&gt;
    &lt;/div&gt;&lt;!--/panel--&gt;
  &lt;/div&gt;&lt;!--/col--&gt;
&lt;/div&gt;&lt;!--/row--&gt;
          