&lt;nav id=&quot;nav&quot; class=&quot;navbar navbar-default js-footer-nav&quot;&gt;
	&lt;ul class=&quot;nav navbar-nav&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;What We Do&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Projects&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
