&lt;ul class=&quot;nav nav-pills&quot; role=&quot;tablist&quot;&gt;
  &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{{nav.text}}} &lt;span class=&quot;badge&quot;&gt;{{{nav.badge}}}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;{{{nav.text1}}}&lt;/a&gt;&lt;/li&gt;
  &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;{{{nav.text2}}} &lt;span class=&quot;badge&quot;&gt;{{{nav.badge2}}}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;