<!-- main -->
  <div class="column col-sm-9" id="main">
    <div class="padding">
      <div class="full col-sm-9">
                      
        <!-- content -->
                        
          <div class="col-sm-12" id="featured">   
            <div class="page-header text-muted">
              {{{page-header.div}}}
            </div> 
          </div>
                        
        <!--/top story-->
          <div class="row">    
            <div class="col-sm-10">
              <h3>{{{row.h3}}}</h3>
              <h4><span class="label label-default">{{{row.h4}}}</span></h4><h4>
              <small class="text-muted">{{{row.small}}}<a href="{{{row.href}}}" class="text-muted">{{{row.text-muted}}}</a></small>
              </h4>

            </div>

          <div class="col-sm-2">
            <a href="{{{row.href}}}" class="pull-right"><img src="{{{row.src}}}" class="img-circle"></a>
          </div> 
          </div>
                        
        <div class="col-sm-12" id="stories">  
          <div class="page-header text-muted divider">
           {{{page-header.div2}}}
          </div>
        </div>
      </div>
    </div><!-- /col-9 -->
  </div><!-- /padding -->
</div><!-- /main -->
                               
                        