&lt;div class=&quot;panel panel-default&quot;&gt;
  &lt;!-- Default panel contents --&gt;
  &lt;div class=&quot;panel-heading&quot;&gt;{{panel.panel-heading}}&lt;/div&gt;
  &lt;div class=&quot;panel-body&quot;&gt;
    &lt;p&gt;{{panel.p}}&lt;/p&gt;
  &lt;/div&gt;

  &lt;!-- List group --&gt;
  &lt;ul class=&quot;list-group&quot; &gt;
    &lt;li class=&quot;list-group-item&quot; style=&quot;{{styleModifier}}&quot;&gt;{{panel.list-group-item1}}&lt;/li&gt;
    &lt;li class=&quot;list-group-item&quot;&gt;{{panel.list-group-item2}}&lt;/li&gt;
    &lt;li class=&quot;list-group-item&quot;&gt;{{panel.list-group-item3}}&lt;/li&gt;
    &lt;li class=&quot;list-group-item&quot;&gt;{{panel.list-group-item4}}&lt;/li&gt;
    &lt;li class=&quot;list-group-item&quot;&gt;{{panel.list-group-item5}}&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;