&lt;address&gt;
  &lt;strong&gt;{{{address.title}}}&lt;/strong&gt;&lt;br&gt;
  {{{address.street}}}&lt;br&gt;
  {{{address.city}}}&lt;br&gt;
  &lt;abbr title=&quot;Phone&quot;&gt;{{{address.phone}}}:&lt;/abbr&gt; {{{address.number}}}
&lt;/address&gt;

&lt;address&gt;
  &lt;strong&gt;{{{address.name}}}&lt;/strong&gt;&lt;br&gt;
  &lt;a href=&quot;mailto:#&quot;&gt;{{{address.email}}}&lt;/a&gt;
&lt;/address&gt;