<div class="col-md-5">
<div class="well well-lg"> 
  <div class="row">
    <div class="col-sm-6">
        <img src="{{well.src}}" class="img-responsive">
    </div>
    <div class="col-sm-6">
    	{{well.text}}
    </div>
  </div>
</div>
</div>