&lt;div class=&quot;container-fluid&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-lg-3 pt-attrctnsocmda&quot;&gt;
    	&lt;div class=&quot;row&quot;&gt;
    		&lt;div class=&quot;col-lg-1 col-md-1 col-sm-1 col-xs-1&quot;&gt;{{&gt; molecules-socialmedia-glyphicon-link-facebook(url: &quot;http://www.facebook.com/bitsourceky&quot;,
        platform: &quot;facebook&quot;, size: &quot;32&quot;, styleModifier :&quot;btn azm-social azm-circle azm-long-shadow &quot;)}}&lt;/div&gt;
    		&lt;div class=&quot;col-lg-1 col-md-1 col-sm-1 col-xs-1&quot;&gt;{{&gt; molecules-socialmedia-glyphicon-link-twitter(url: &quot;http://www.twitter.com/bitsourceky&quot;,
        platform: &quot;twitter&quot;, size: &quot;64&quot;, styleModifier: &quot;btn azm-social azm-circle azm-long-shadow &quot;)}}&lt;/div&gt;
  		&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-3&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;col-lg-3 pt-respnavicons&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-lg-2 col-md-2 col-sm-2 col-xs-2&quot;&gt;&lt;a href=&quot;&quot;&gt;{{&gt;atoms-resp-image(imgsrc:&quot;../../images/ic_explore_black_36dp.png&quot;) }}&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;col-lg-2 col-md-2 col-sm-2 col-xs-2&quot;&gt;&lt;a href=&quot;&quot;&gt;{{&gt;atoms-resp-image(imgsrc:&quot;../../images/ic_get_app_black_36dp.png&quot;) }}&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;col-lg-2 col-md-2 col-sm-2 col-xs-2&quot;&gt;&lt;a href=&quot;&quot;&gt;{{&gt;atoms-resp-image(imgsrc:&quot;../../images/ic_info_outline_black_36dp.png&quot;) }}&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;col-lg-2 col-md-2 col-sm-2 col-xs-2&quot;&gt;&lt;a href=&quot;&quot;&gt;{{&gt;atoms-resp-image(imgsrc:&quot;../../images/ic_photo_library_black_36dp.png&quot;) }}&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;col-lg-2 col-md-2 col-sm-2 col-xs-2&quot;&gt;&lt;a href=&quot;&quot;&gt;{{&gt;atoms-resp-image(imgsrc:&quot;../../images/ic_share_black_36dp.png&quot;) }}&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-3 pull-right&quot;&gt;
    	&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;{{buttontitle}}&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;