<nav class="pt-sec-menu navbar navbar-default">
	<ul class="links nav navbar-nav pull-right">
		<li class="menu-1465 first"><a href="{{href}}" class="showme">Show Me:</a></li>
		<li class="menu-1343"><a href="{{href}}">All</a></li>
		<li class="menu-1344"><a href="{{href}}">Family</a></li>
		<li class="menu-1345"><a href="{{href}}">Night Life</a></li>
		<li class="menu-1346"><a href="{{href}}">Adventure</a></li>
		<li class="menu-2070 last"><a href="{{href}}" title="Search">Search</a></li>
	</ul>    
</nav>