<div class="pt-primary-menu navbar navbar-default">
    <ul class="pt-mega-menu tb-megamenu-nav nav level-0 items-7 nav navbar-nav">
      <li data-id="1523" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
        <a href="{{href}}">Events</a>
      </li>

      <li data-id="1448" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="center" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-center">
        <a href="{{href}}">Packages</a>
      </li>

      <li data-id="3006" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
        <a href="{{href}}">Services</a>
      </li>

      <li data-id="1521" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
        <a href="{{href}}">Attractions</a>
      </li>

      <li data-id="1492" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption=" " data-alignsub="center" data-group="0" data-hidewcol="1" data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-center sub-hidden-collapse dropdown">
        <a href="{{href}}" class="dropdown-toggle">Main Street
          <span class="mega-caption"> 
          </span>
        </a>
          <div data-class="" data-width="540" style="width: 540px;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
            <div class="mega-dropdown-inner">
              <div class="tb-megamenu-row row-fluid">
                <div data-showblocktitle="0" data-class="" data-width="8" data-hidewcol="1" id="tb-megamenu-column-1" class="hidden-sm tb-megamenu-column span8  mega-col-nav  hidden-collapse">
                  <div class="tb-megamenu-column-inner mega-inner clearfix">
                    <div data-type="block" data-block="bean--visit-main-street" class="tb-megamenu-block tb-block tb-megamenu-block">
                      <div class="block-inner">
                        <section id="block-bean-visit-main-street" class="block block-bean clearfix">
                          <div class="row">
        		                <div class="col-lg-12 col-med-12 col-sm-12 col-xs-12">
      			                   <div class="TopTitleField">
        				                  Visit Main Street 
        			                 </div>
        		                </div> <!-- End of Col-lg-12 div	 -->
        		              <div class="col-lg-6 col-med-6 col-sm-12 col-xs-12">
        			              <div class="leftTextField">
        				              Come and visit Main Street!! 
        			              </div>
        		              </div><!-- End of right col-lg-6 -->
        		              <div class="col-lg-6 col-med-6 col-sm-12 col-xs-12 text-center">
          						      <div class="picSpacing">
                              <img src="http://dev-pikeville-tourism.pantheon.io/sites/default/files/styles/image_with_text_bean_small/public/Desktop_MainStreet-03_1.jpg?itok=A01rOOSZ" class="img-responsive">
                            </div>
        		              </div><!-- End of left col-lg-6 -->
        		              <div class="row col-lg-12 col-med-12 col-sm-12 col-xs-12 text-left">
        			              <div class="BottomCallToAction">
                              <a href="{{href}}" target="_blank" type="button" class="mainStreetButton btn btn-secondary">
                          			Visit Main Street
                              </a>
        			              </div>
        		              </div> <!-- End of Col-lg-12 div	 -->
        	              </div>
                      </section> <!-- /.block -->
                    </div>
                  </div>
                </div>
              </div>
              <div data-showblocktitle="1" data-class="" data-width="4" data-hidewcol="" id="tb-megamenu-column-2" class="hidden-sm tb-megamenu-column span4  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <div data-type="block" data-block="menu--menu-main-street-mega-menu-sub-m" class="tb-megamenu-block tb-block tb-megamenu-block">
                    <div class="block-inner">
                      <section id="block-menu-menu-main-street-mega-menu-sub-m" class="block block-menu clearfix">
                        <h2 class="block-title"><none></none>
                        </h2>
                        <ul class="menu nav">
                          <li class="first leaf">
                            <a href="{{href}}">Visit Main Street</a>
                          </li>
                          <li class="last leaf">
                            <a href="{{href}}">Main Street Live</a>
                          </li>
                        </ul>
                      </section> <!-- /.block -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li data-id="2967" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
        <a href="{{href}}"> 
          About Us          
        </a>
      </li>

      <li data-id="3757" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
        <a href="{{href}}"> 
          Reservations          
        </a>
      </li>
  </ul>
</div>