<div class="navbar navbar-default">
  	<div class="img-responsive">
	  	<ul class="links nav navbar-nav">
	      	<li class="menu-1401 first">
	      		<a href="{{href}}" title="Family" id="family_icon" class="img-responsive"><img src="../../images/Home_Story_Family.png"alt="Family" class="img-responsive"/></a>
	      	</li>
			<li class="menu-1402">
				<a href="{{href}}" title="Adventure" id="adventure_icon" class="img-responsive"><img src="../../images/Home_Story_Adventure.png"alt="Adventure" class="img-responsive"/></a>
			</li>
			<li class="menu-1403 last">
				<a href="{{href}}" title="Night Life" id="nightlife_icon" class="img-responsive"><img src="../../images/Home_Story_NightLife.png"alt="NightLife" class="img-responsive"/></a>

			</li>
		</ul>          
	</div>
</div>