<nav id="nav" class="navbar navbar-default js-footer-nav">
	<ul class="nav navbar-nav">
		<li><a href="{{ url }}">Home</a></li>
		<li><a href="{{ url }}">About Us</a></li>
		<li><a href="{{ url }}">What We Do</a></li>
		<li><a href="{{ url }}">Projects</a></li>
		<li><a href="{{ url }}">Services</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
