<header class="js-container-full">
      <nav class="navbar navbar-inverse js-header-nav">
      	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 js-logo-header">
        	{{>atoms-logo}}
        </div>

	<div class= " col-lg-10 col-md-10 col-sm-10 col-xs-10 js-header-links container-fluid js-container-nopadding">

		<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav js-navbar-nav">
		<li><a href="{{ url }}">Home</a></li>
		<li><a href="{{ url }}">About Us</a></li>
		<li><a href="{{ url }}">What We Do</a></li>
		<li><a href="{{ url }}">Projects</a></li>
		<li><a href="{{ url }}">Services</a></li>
		<li><a href="{{ url }}">Contact</a></li>
		<li class="pull-right "><a class="glyphicon glyphicon-search js-search" href="{{ url }}"></a></li>
	</ul>  
        </div>
  </div>
</nav>
</header>