&lt;div class= &quot;pt-staff-card&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-staff-card-outer-div&quot;&gt;
			&lt;div class=&quot;pt-staff-card-inner-div&quot;&gt;
			    &lt;img class=&quot;img-responsive pt-staff-card-image&quot; src={{image-card.img-1}} /&gt;
					&lt;div&gt; 
					&lt;p class= &quot;pt-staff-card-call-to-action-text&quot;&gt;
					&lt;p class=&quot;pt-staff-card-name&quot;&gt;{{image-card.name}}&lt;/p&gt;
					&lt;div class=&quot;pt-staff-card-border&quot;&gt;&lt;/div&gt;
					&lt;p class=&quot;pt-staff-card-position&quot;&gt;{{image-card.position}}&lt;/p&gt;
					&lt;a href=&quot;#&quot;&gt;&lt;p class=&quot;pt-staff-card-email&quot;&gt;{{image-card.email}}&lt;/p&gt;&lt;/a&gt;
					&lt;p class=&quot;pt-staff-card-phone&quot;&gt;{{image-card.phone#}}&lt;/p&gt;
					&lt;pclass=&quot;pt-staff-card-description&quot;&gt;{{image-card.description}}&lt;/p&gt;
					&lt;/div&gt;
			&lt;/div&gt;	
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;