@import "js_accordion";
@import "js_circle_images";
@import "js_full_display";
@import "js_jumbotron";
@import "js_aboutus_card";
@import "js_element_card";
@import "js_tertiary_menu.scss";
@import "js_footer";
@import "js_primary_header_navigation.scss";
@import "js_home_page_upper_text";
@import "js_what_we_do";
@import "js_front_page";
@import "js_elementalpage";
@import "js_aboutus_template.scss";

body{
  font-family: $font-family-roboto;
}

.js-container-nopadding{
	padding: 0px;
}

.js-container-full{
	width: 100%;
}

.container {
  padding-left:0px;
  padding-right:0px;
}

.js-margin-left-15px{
	margin-left: 15px;
}

/*jdh*/