.js-aboutusimage{
	
	
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;


}

.panel-body {
	background-color: #E7E8EA;
	padding:15px;
	border:1px solid black;
	padding-top: 145px;
	font-weight: 100;




}

.aboutuscardtext{
	color: red;




}
 .aboutusptag {
	color:#868789;
	text-align: center;
	font-size: 20px;
	font-family:roboto;
	margin-top: 30px;
	




}
.h3{
	font-family:roboto;
	font-size:30px;
	color:black;
	margin-bottom: -140px;







}

