.main-js-what-we-do-div{
	padding-left:25px;
	padding-right: 25px;
	font-weight: 100;
	h1{
		padding-left: 15px;
		color: black !important;
		font-size: 47px;
	}
	
}
hr{
	padding-left: 20px;
	border-top: 1px solid #3a3a3c !important;
	margin-top: 0px !important;

}
.what-we-do-inner-div{
	padding-bottom:30px;
	p{
		padding-bottom: 20px;
		padding-top: 20px;
		font-size: 19px;
	}
	h3{
		color:black !important;
		font-size: 32px;
		
	}
}
.what-we-do-right-div{
	padding-right: 25px;
	padding-left:  25px;
	padding-bottom:30px;
	color:$gray-light;
	font-size: 14px;
}
	
.mining-header{		
	border-bottom: 1px solid  #3a3a3c;
	color:black !important;
	font-size: 29px;
}
.surveying-header{
	color:black !important;
	font-size: 29px;
}
.engineering-background{
	background-color: #3a3a3c;
	color:$gray-lighter;
	margin-top: 40px;
	padding-left: 15px;
	padding-top: 15px;
	}
	p{
		
		padding-right: 15px;
		padding-bottom: 15px;
}
.civil-background{
	background-color: #D1D2D4;

	h3{
		padding-left: 15px;
		padding-top: 15px;
		color:black !important;
		font-size: 29px;
	}
	p{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}