.element-section {

	border-bottom:4px solid black;
	border-top: 4px solid black;
	padding-bottom: 25px;
	padding-top: 15px;
}

.element-project{
	max-width: 1280px;
	display: block;
	margin: 0px auto;
}

.element-p{
	margin:30px;
	margin-bottom: 500px;
	text-align: center;
	}
	.epic{
		margin: 12px
	}

