.js-header-navbar-default{
	margin-bottom:0px !important;
}
.js-header-navbar-default .navbar{
	margin-bottom:0px !important;
}

.js-page-header {
	border-bottom: none;
	padding:0px;
}
.js-page-header h1{
	font-family: roboto light;
	font-size: 40px;
	margin-top: 36px;
}
.js-page-header p{
	color: #868789;
    text-align: center;
    font-size: 20px;
    font-family: roboto;
}
.js-aboutus-bottom-section blockquote p{
	color: #868789;
    text-align: left;
    font-size: 20px;
    font-family: roboto;
}

.aboutusptag .panel {
	margin-top: 25px;
}














.js-aboutus-bottom-section .panel-body{
	padding-top: 0px;
}

.js-aboutus-bottom-section .jigsaw-accordion-title {
    font-family: roboto;
    font-weight: 400;
    font-size: 40px;
}


.js-aboutus-bottom-section .page-header {
     padding-bottom: 0px; 
     margin:0; 
     border-bottom: none; 
}
.js-aboutus-bottom-section .page-header h1{
	padding:10px 20px;
	font-family: roboto;
    font-weight: 400;
    margin:0;
}
.js-aboutus-bottom-section blockquote{
	border-left: none;
}