&lt;div class=&quot;col-md-5&quot;&gt; 
 &lt;ul class=&quot;nav nav-justified&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;&lt;i class=&quot;glyphicon glyphicon-cog&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;&lt;i class=&quot;glyphicon glyphicon-heart&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;dropdown&quot;&gt;&lt;a href=&quot;{{nav.href}}&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;&lt;i class=&quot;glyphicon glyphicon-comment&quot;&gt;&lt;/i&gt;&lt;span class=&quot;count&quot;&gt;{{nav.count}}&lt;/span&gt;&lt;/a&gt;&lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;&lt;li&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;{{nav.a1}}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;{{nav.a2}}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;&lt;strong&gt;{{nav.a3}}&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{nav.href}}&quot;&gt;&lt;i class=&quot;glyphicon glyphicon-user&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a title=&quot;Add Widget&quot; data-toggle=&quot;modal&quot; href=&quot;#addWidgetModal&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus-sign&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;  
&lt;/div&gt;