&lt;header class=&quot;js-container-full&quot;&gt;
      &lt;nav class=&quot;navbar navbar-inverse js-header-nav&quot;&gt;
      	&lt;div class=&quot;col-lg-2 col-md-2 col-sm-2 col-xs-2 js-logo-header&quot;&gt;
        	{{&gt;atoms-logo}}
        &lt;/div&gt;

	&lt;div class= &quot; col-lg-10 col-md-10 col-sm-10 col-xs-10 js-header-links container-fluid js-container-nopadding&quot;&gt;

		&lt;div class=&quot;navbar-header&quot;&gt;
          &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-9&quot; aria-expanded=&quot;false&quot;&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
          &lt;/button&gt;
          
        &lt;/div&gt;
        
        &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-9&quot;&gt;
          &lt;ul class=&quot;nav navbar-nav js-navbar-nav&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;What We Do&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Projects&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;pull-right &quot;&gt;&lt;a class=&quot;glyphicon glyphicon-search js-search&quot; href=&quot;{{ url }}&quot;&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;  
        &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;
&lt;/header&gt;