&lt;div class=&quot;text&quot;&gt;
	&lt;ol&gt;
		&lt;li&gt;{{{text.ol}}}&lt;/li&gt;
		&lt;li&gt;{{{text.ol1}}}&lt;/li&gt;
		&lt;li&gt;
			{{{text.ol2}}}
			&lt;ol&gt;
				&lt;li&gt;{{{text.ol3}}}&lt;/li&gt;
				&lt;li&gt;{{{text.ol4}}}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/li&gt;
		&lt;li&gt;{{{text.ol5}}}&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;