
&lt;div class=&quot;js-tertiary-menu&quot;&gt;
	&lt;div class=&quot;row-fluid&quot;&gt;
		&lt;div class=&quot;col-lg-2 col-md-2 col-sm-2&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;row-fluid&quot;&gt;
			&lt;div class=&quot;col-lg-8 col-md-8 col-sm-8 js-tertiary-menu-shadow&quot;&gt;				
  				&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 &quot;&gt;{{&gt;atoms-js_tertiary_menu_card(imgsrc:&quot;../../images/JS_Home_Industrial_Icon.png&quot;,Title:&quot;INDUSTRIAL&quot;,Description:&quot;Projects&quot;)}}&lt;/div&gt;
  				&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 &quot;&gt;{{&gt;atoms-js_tertiary_menu_card(imgsrc:&quot;../../images/JS_Home_Commercial_Icon.png&quot;,Title:&quot;COMMERCIAL&quot;,Description:&quot;Projects&quot;)}}&lt;/div&gt;
          &lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 &quot;&gt;{{&gt;atoms-js_tertiary_menu_card(imgsrc:&quot;../../images/JS_Home_Government_Icon.png&quot;,Title:&quot;GOVERNMENT&quot;,Description:&quot;Projects&quot;)}}&lt;/div&gt;
  			&lt;/div&gt;
  		&lt;/div&gt;
  		&lt;div class=&quot;col-lg-2 col-md-2 col-sm-2&quot;&gt;&lt;/div&gt;  			
	&lt;/div&gt;
&lt;/div&gt;