
<div class="row">
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #38ADD9;"></span>
			<span class="sg-label">#38ADD9</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #9BD6EC;"></span>
			<span class="sg-label">#9BD6EC</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #E6E7E8;"></span>
			<span class="sg-label">#E6E7E8</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #ffffff;"></span>
			<span class="sg-label">#ffffff</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #808080;"></span>
			<span class="sg-label">#808080</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #000000;"></span>
			<span class="sg-label">#000000</span>
		</li>
	</ul>
</div>
