&lt;!-- 4:3 aspect ratio --&gt;
&lt;div class=&quot;embed-responsive embed-responsive-4by3&quot;&gt;
  &lt;iframe class=&quot;embed-responsive-item&quot; src=&quot;{{embed-responsive.src}}&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;