&lt;div class=&quot;list-group&quot;&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item active&quot;&gt;
    &lt;h4 class=&quot;list-group-item-heading&quot;&gt;{{list-group.text}}&lt;/h4&gt;
    &lt;p class=&quot;list-group-item-text&quot;&gt;{{list-group.text}}&lt;/p&gt;
  &lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item active&quot;&gt;
    &lt;h4 class=&quot;list-group-item-heading&quot;&gt;{{list-group.text}}&lt;/h4&gt;
    &lt;p class=&quot;list-group-item-text&quot;&gt;{{list-group.text}}&lt;/p&gt;
  &lt;/a&gt;
  &lt;a href=&quot;{{list-group.href}}&quot; class=&quot;list-group-item active&quot;&gt;
    &lt;h4 class=&quot;list-group-item-heading&quot;&gt;{{list-group.text}}&lt;/h4&gt;
    &lt;p class=&quot;list-group-item-text&quot;&gt;{{list-group.text}}&lt;/p&gt;
  &lt;/a&gt;
&lt;/div&gt;