&lt;div class=&quot;region region-footer-middle&quot;&gt;
  &lt;section id=&quot;block-entityform-block-contact-us-&quot; class=&quot;block block-entityform-block clearfix&quot;&gt;
    &lt;div class=&quot;{{nd}}&quot;{{&gt;atoms-headings-h2(h2:CONTACT)}}&gt;&lt;/div&gt;
      &lt;div id=&quot;form-message-wrapper-form-plr6dYI01T4cxMgv-bxpSrjnwkUgSYFZ-rESeJQIH5Y&quot;&gt;
        &lt;div&gt;&lt;/div&gt;
      &lt;/div&gt;

      &lt;div id=&quot;preview-wrapper-top-form-plr6dYI01T4cxMgv-bxpSrjnwkUgSYFZ-rESeJQIH5Y&quot;&gt;&lt;/div&gt;
        &lt;div id=&quot;form-reload-form-plr6dYI01T4cxMgv-bxpSrjnwkUgSYFZ-rESeJQIH5Y&quot;&gt;
         &lt;form class=&quot;entityform entitytype-contact_us_-form&quot; action=&quot;/&quot; method=&quot;post&quot; id=&quot;contact-us-entityform-edit-form&quot; accept-charset=&quot;UTF-8&quot;&gt; 
          &lt;div&gt;
      	   &lt;div class=&quot;pre-instructions&quot;&gt;&lt;/div&gt;
      	     &lt;div class=&quot;field-type-text field-name-field-contact-name field-widget-text-textfield form-wrapper form-group&quot; id=&quot;edit-field-contact-name&quot;&gt;
      	       &lt;div id=&quot;field-contact-name-add-more-wrapper&quot;&gt;
      		      &lt;div class=&quot;form-type-textfield form-item-field-contact-name-und-0-value form-item form-group&quot;&gt;
      		      &lt;label for=&quot;edit-field-contact-name-und-0-value&quot;&gt;
      		        &lt;span class=&quot;form-required&quot; title=&quot;This field is required.&quot;&gt;&lt;/span&gt;
      		      &lt;/label&gt;
      		        &lt;input class=&quot;text-full form-control form-text required&quot; placeholder=&quot;Name&quot; type=&quot;text&quot; id=&quot;edit-field-contact-name-und-0-value&quot; name=&quot;field_contact_name[und][0][value]&quot; value size=&quot;60&quot; maxlenght=&quot;144&quot;&gt;
      		      &lt;/div&gt;
      	       &lt;/div&gt;
      	     &lt;/div&gt;

        &lt;input type=&quot;hidden&quot; name=&quot;form_build_id&quot; value=&quot;form-plr6dYI01T4cxMgv-bxpSrjnwkUgSYFZ-rESeJQIH5Y&quot;&gt;
			   &lt;input type=&quot;hidden&quot; name=&quot;form_id&quot; value=&quot;contact_us__entityform_edit_form&quot;&gt;
		      &lt;div class=&quot;field-type-email field-name-field-contact-email field-widget-email-textfield form-wrapper form-group&quot; id=&quot;edit-field-contact-email&quot;&gt;
			     &lt;div id=&quot;field-contact-email-add-more-wrapper&quot;&gt;
			      &lt;div class=&quot;text-full-wrapper&quot;&gt;
				      &lt;div class=&quot;form-type-textfield form-item-field-contact-email-und-0-email form-item form-group&quot;&gt;
  				      &lt;label for=&quot;edit-field-contact-email-und-0-email&quot;&gt;      &lt;/label&gt;
 				         &lt;input placeholder=&quot;Email&quot; class=&quot;form-control form-text&quot; type=&quot;text&quot; id=&quot;edit-field-contact-email-und-0-email&quot; name=&quot;field_contact_email[und][0][email]&quot; value=&quot;&quot; size=&quot;60&quot; maxlength=&quot;128&quot;&gt;
				      &lt;/div&gt;
			       &lt;/div&gt;
			     &lt;/div&gt;
		      &lt;/div&gt;

		    &lt;div class=&quot;field-type-text field-name-field-contact-phone field-widget-text-textfield form-wrapper form-group&quot; id=&quot;edit-field-contact-phone&quot;&gt;
		      &lt;div id=&quot;field-contact-phone-add-more-wrapper&quot;&gt;
		        &lt;div class=&quot;form-type-textfield form-item-field-contact-phone-und-0-value form-item form-group&quot;&gt;
  		        &lt;label for=&quot;edit-field-contact-phone-und-0-value&quot;&gt;&lt;/label&gt;
 			          &lt;input class=&quot;text-full form-control form-text&quot; placeholder=&quot;Phone&quot; type=&quot;text&quot; id=&quot;edit-field-contact-phone-und-0-value&quot; name=&quot;field_contact_phone[und][0][value]&quot; value=&quot;&quot; size=&quot;60&quot; maxlength=&quot;60&quot;&gt;
	          &lt;/div&gt;
	        &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;field-type-text-long field-name-field-contact-enquiry field-widget-text-textarea form-wrapper form-group&quot; id=&quot;edit-field-contact-enquiry&quot;&gt;
	       &lt;div id=&quot;field-contact-enquiry-add-more-wrapper&quot;&gt;
		      &lt;div class=&quot;form-type-textarea form-item-field-contact-enquiry-und-0-value form-item form-group&quot;&gt;
  		      &lt;label for=&quot;edit-field-contact-enquiry-und-0-value&quot;&gt;&lt;span class=&quot;form-required&quot; title=&quot;This field is required.&quot;&gt;&lt;/span&gt;&lt;/label&gt;
 			        &lt;div class=&quot;form-textarea-wrapper resizable textarea-processed resizable-textarea&quot;&gt;
 			          &lt;textarea class=&quot;text-full form-control form-textarea required&quot; placeholder=&quot;Enquiry&quot; id=&quot;edit-field-contact-enquiry-und-0-value&quot; name=&quot;field_contact_enquiry[und][0][value]&quot; cols=&quot;60&quot; rows=&quot;8&quot;&gt;&lt;/textarea&gt;
 			            &lt;div class=&quot;grippie&quot;&gt;&lt;/div&gt;
 		          &lt;/div&gt;
		      &lt;/div&gt;
	       &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt;
     &lt;/div&gt;
   &lt;/section&gt;
&lt;!-- /.block --&gt;
   &lt;section id=&quot;block-pt-misc-news&quot; class=&quot;block block-pt-misc clearfix&quot;&gt;
   	&lt;h2 class=&quot;block-title&quot;&gt;NEWSLETTER&lt;/h2&gt;
      &lt;form action=&quot;/&quot; method=&quot;post&quot; id=&quot;pt-misc-newsletter-form&quot; accept-charset=&quot;UTF-8&quot;&gt;	
        &lt;div&gt;
   	      &lt;div class=&quot;form-type-textfield form-item-simplenewsletter form-item form-group&quot;&gt;
 		       &lt;input placeholder=&quot;Enter Your Email&quot; class=&quot;form-control form-text required&quot; type=&quot;text&quot; id=&quot;edit-simplenewsletter&quot; name=&quot;simplenewsletter&quot; value=&quot;&quot; size=&quot;20&quot; maxlength=&quot;40&quot;&gt;
	        &lt;/div&gt;
	         &lt;button class=&quot;btn btn-default form-submit&quot; id=&quot;edit-submit-button&quot; name=&quot;op&quot; value=&quot;SUBSCRIBE&quot; type=&quot;submit&quot;&gt;SIGN UP&lt;/button&gt;
	           &lt;input type=&quot;hidden&quot; name=&quot;form_build_id&quot; value=&quot;form-0UhSzp9P1YAJ4P4K5bsg5HyxdG-AcBPDwZi10u_cxrg&quot;&gt;
	             &lt;input type=&quot;hidden&quot; name=&quot;form_id&quot; value=&quot;pt_misc_newsletter_form&quot;&gt;
        &lt;/div&gt;
      &lt;/form&gt;
     &lt;/section&gt;
&lt;!-- /.block --&gt;
&lt;/div&gt;