 {{&gt;organisms-js-primary-menu-card}}
    {{&gt;organisms-jigsaw-jumbotron(img-1:&quot;../../images/JS_Home_VideoPlaceHolder.png&quot;, jumbotron.description:&quot;Jigsaw is a solutions company solving your problems as they arise.Jigsaw is a solutions company solving your problems as they arise.&quot;)}}
	{{&gt;atoms-js-headings-h1(h1:&quot;Welcome to Jigsaw&quot;)}}
	&lt;div class=&quot;js-page-header&quot;&gt;
		{{&gt;atoms-paragraph(p:&quot;Jigsaw Enterprises,LLC is a multi-faceted company that serves a wide variety of customers.We have expertise in all aspects of earthmoving,land forming,site development, and design-build projects. Jigsaw has acompleted many projects for governmental agencies,commercial companies, and industrial businesses which have ranged in size,complexity,and duration. Our company offers in-house engineering services to provide the best overall value to our clients&quot;)}}
	&lt;/div&gt;
{{&gt;organisms-js-aboutus-card}} 
{{&gt;organisms-js-aboutus-other-card(src:&quot;../../images/JS_AboutUs_Icons-03.png&quot;)}}
{{&gt;organisms-js-aboutus-personel-card(src:&quot;../../images/JS_AboutUs_Icons-02.png&quot;)}}
&lt;div class=&quot;container-fluid&quot;&gt;
  &lt;div class=&quot;row js-aboutus-bottom-section&quot;&gt;
    &lt;div class=&quot;col-lg-6&quot;&gt;{{&gt;molecules-js-who-we-are}}&lt;/div&gt;
    &lt;div class=&quot;col-lg-6&quot;&gt;{{&gt;molecules-jigsaw-accordion(accordion.panel-1:&quot;In fields related to civil engineering, we have completed the earthwork portions of such diverse projects as sports complexes, residential subdivisions, commercial building sites, recreational sites, oil/gas well locations, and numerous municipal, county, and state transportation projects. Completed projects include golf courses, athletic fields, state and city parks, and historic preservation sites. These projects involved grade and drain, sub drains, storm drains, underground utilities, geogrids, engineered fills, retaining walls, soil nails, reinforced concrete, site clearing, demolition, drilling, mass excavation, and hydro-seeding&quot;)}}&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{&gt;organisms-js-footer}}