<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div>
		{{> organisms-service-catagory(src:"../../images/Home_Eat+Drink.png", alt:"stuff", text:"Eat+Drink", styleModifier :"border-top: 2px solid #9BD6EC;")}}
	</div>
	<div>
		{{> organisms-service-catagory(src:"../../images/Home_Shopping.png", alt:"stuff", text:"Shop", styleModifier :"border-top: 2px solid #9BD6EC;")}}
	</div>
	<div>
		{{> organisms-service-catagory(src:"../../images/Home_Entertainment.png", alt:"stuff", text:"Entertain", styleModifier :"border-top: 2px solid #9BD6EC;")}}
	</div>


	<div>
		{{> organisms-service-catagory(src:"../../images/Home_Services.png", alt:"stuff", text:"Services", styleModifier :"border-top: 2px solid #9BD6EC;")}}
	</div>
</div>