<div class="container js-container-full js-container-nopadding js-front-page">
	{{> molecules-js-primary-header-navigation}}
	{{> organisms-js-jumbotron-video-player-card(h1:"Creative Problem Solvers", p:"Jigsaw is a solutions company solving your problemsas they arise.", video:"../../videos/drone_clip.mp4")}}
	{{> organisms-js_tertiary_menu}}
	<div class="js-project-view-container">
		{{> organisms-js-project-card}}
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 js-project-bottom">
		
	</div>
	{{> organisms-js-element2}}
	{{> organisms-js-home-page-text}}
	{{> organisms-js-circle-image-card(h4:"OUR WORKFORCE", p1:"SKILLED PROFESSIONALS", p2:"BETTER HUMAN BEINGS")}}
	{{> organisms-js-footer}}
</div>