{{>organisms-js-primary-menu-card}}
<div class ="main-js-what-we-do-div">
	<h1>{{h1}}</h1>
	<hr>
<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 what-we-do-inner-div">
	<h3>{{h-3}}</h3>
	{{>atoms-paragraph}}
	{{>molecules-what-we-do-image}}
	<p>{{p-2}}</p>
	{{>molecules-what-we-do-image}}
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 what-we-do-right-div">
	<div>
		<h3 class="mining-header">{{h2}}</h3>
		<p>{{p-3}}</p>
	</div>
	<div>
		<h3 class="surveying-header">{{h3}}</h3>
		<p>{{p-4}}</p>
	</div>
	<div class="engineering-background">
		<h3>{{h4}}</h3>
		<p>{{p-5}}</p>
	</div>
	<div class="civil-background">
		<h3>{{h5}}</h3>
		<p>{{p-6}}</p>
	</div>
</div>
</div>
{{>organisms-js-footer}}