&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-4 pt-tertiarymenu&quot;&gt;
    &lt;div class=&quot;pt-tertiarymenuwrapper&quot;&gt;
        &lt;a href={{url}}&gt;
            &lt;div class=&quot;pt-120pxwidthimage&quot;&gt;
                {{&gt; atoms-tertiarymenu-resp-image (imgsrc:{{imgsrc}})}}
                &lt;!-- http://lorempixel.com/850/280/people/9/ --&gt;
                 &lt;div class=&quot;pt-tertiarycaption text-center&quot;&gt;
                     &lt;h2&gt;Title&lt;/h2&gt;
                     &lt;p&gt;Brief Description&lt;/p&gt;
                 &lt;/div&gt;
            &lt;/div&gt;
        &lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;