<h1>"{{{text.h1}}}" <span class="label label-default">{{{label.h1}}}</span></h1>

<h2>"{{{text.h2}}}" <span class="label label-default">{{{label.h2}}}</span></h2>

<h3>"{{{text.h3}}}" <span class="label label-default">{{{label.h3}}}</span></h3>

<h4>"{{{text.h4}}}" <span class="label label-default">{{{label.h4}}}</span></h4>

<h5>"{{{text.h5}}}" <span class="label label-default">{{{label.h5}}}</span></h5>

<h6>"{{{text.h6}}}" <span class="label label-default">{{{label.h6}}}</span></h6>