<span class="label label-default">"{{{Default.span}}}"</span>
<span class="label label-primary">"{{{Primary.span}}}"</span>
<span class="label label-success">"{{{Success.span}}}"</span>
<span class="label label-info">"{{{Info.span}}}"</span>
<span class="label label-warning">"{{{Warning.span}}}"</span>
<span class="label label-danger">"{{{Danger.span}}}"</span>