<p class="text-left">{{{left.p}}}</p>
<p class="text-center">{{{center.p}}}</p>
<p class="text-right">{{{right.p}}}</p>
<p class="text-justify">{{{justify.p}}}</p>
<p class="text-nowrap">{{{nowrap.p}}}</p>