<address>
  <strong>{{{address.title}}}</strong><br>
  {{{address.street}}}<br>
  {{{address.city}}}<br>
  <abbr title="Phone">{{{address.phone}}}:</abbr> {{{address.number}}}
</address>

<address>
  <strong>{{{address.name}}}</strong><br>
  <a href="mailto:#">{{{address.email}}}</a>
</address>