&lt;a href=&quot;http://www.google.com&quot; target=&quot;_blank&quot;&gt;
&lt;div class=&quot;{{call-grid-system}}&quot;&gt;
	{{&gt; molecules-panel-heading(panel-with-heading-heading:&quot;Check it Out!&quot;, panel-with-heading-body:&quot;Turkey turducken short ribs tri-tip. Andouille . Pork loin hamburger kielbasa tri-tip short ribs prosciutto. Meatloaf biltong ham beef ribs andouille kielbasa. Picanha sirloin doner, ground round jerky short loin meatloaf strip steak ham hock sausage fatback. Frankfurter doner meatball landjaeger capicola biltong, jerky kielbasa strip steak tri-tip pig.&quot;, pt-body-panel-style:pt-primary-bg,pt-header-panel-style:pt-quinary-bg , pt-header-font-color:pt-quaternary-font-color)}}
	
&lt;/div&gt;
&lt;/a&gt;