&lt;div class=&quot;col-lg-12 col-md-10 col-sm-10 col-xs-12&quot;&gt;
    &lt;div&gt;
        &lt;h1 class=&quot;jigsaw-accordion-title&quot;&gt;WHY CHOOSE US&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div class=&quot;panel-group&quot; id=&quot;accordion&quot;&gt;
        &lt;div class=&quot;panel panel-default&quot;&gt;

            &lt;div class=&quot;panel-heading&quot;&gt;
                &lt;h4 class=&quot;panel-title&quot;&gt;
                    &lt;a data-toggle=&quot;collapse&quot; data-parent=&quot;#accordion&quot; href=&quot;#collapseOne&quot;&gt;Civil&lt;/a&gt;
                &lt;/h4&gt;
            &lt;/div&gt;
            &lt;div id=&quot;collapseOne&quot; class=&quot;panel-collapse collapse in&quot;&gt;
                &lt;div class=&quot;panel-body&quot;&gt;
                    &lt;p&gt;{{accordion.panel-1}}&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel panel-default&quot;&gt;
            &lt;div class=&quot;panel-heading&quot;&gt;
                &lt;h4 class=&quot;panel-title&quot;&gt;
                    &lt;a data-toggle=&quot;collapse&quot; data-parent=&quot;#accordion&quot; href=&quot;#collapseTwo&quot;&gt;Mining&lt;/a&gt;
                &lt;/h4&gt;
            &lt;/div&gt;
            &lt;div id=&quot;collapseTwo&quot; class=&quot;panel-collapse collapse&quot;&gt;
                &lt;div class=&quot;panel-body&quot;&gt;
                    &lt;p&gt;{{accordion.panel-2}}&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel panel-default&quot;&gt;
            &lt;div class=&quot;panel-heading&quot;&gt;
                &lt;h4 class=&quot;panel-title&quot;&gt;
                    &lt;a data-toggle=&quot;collapse&quot; data-parent=&quot;#accordion&quot; href=&quot;#collapseThree&quot;&gt;Engineering&lt;/a&gt;
                &lt;/h4&gt;
            &lt;/div&gt;
            &lt;div id=&quot;collapseThree&quot; class=&quot;panel-collapse collapse&quot;&gt;
                &lt;div class=&quot;panel-body&quot;&gt;
                    &lt;p&gt;{{accordion.panel-3}}&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;