<footer class="footer pt-footer-bottom pt-primary-bg">
  <div class="container pt-container-nopadding pt-container-full">
    <div class="row"> 
       
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footer-first"> 
      	{{>organisms-pt-footer-first}}
      </div>

	  <div id="footer_middle"class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {{>organisms-pt-footer-middle}}
      </div>

  	  <div id="footer_last" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {{>organisms-pt-footer-last}}
	  </div>
    </div><!--/row-->
 </div>
</footer>