<div class="region region-footer-last">
    <section id="block-menu-menu-right-footer-menu" class="block block-menu right-footer-menu col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:first first leaf,href:/stories,a:footer_menu_link,text:Stories)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:first leaf,href:/aboutus,a:footer_menu_link,text:About Us)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:first last leaf,href:/reservations,a:footer_menu_link,text:Reservations)}}
    </section> 

<!-- /.block -->
    <section id="block-menu-menu-footer-menu" class="block block-menu footer_menu col-xs-12 col-sm-6 col-md-6 col-lg-6
     clearfix">
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:first leaf,href:/sitemap,a:footer_menu_link,text:Site Map)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/events,a:footer_menu_link,text:Events)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/packages,a:footer_menu_link,text:Packages)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/services,a:footer_menu_link,text:Services)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:leaf,href:/calendar,a:footer_menu_link,text:Calendar)}}
      {{>atoms-pt-list-menulink-footer(ul:menu nav,li:last leaf,href:/attractions,a:footer_menu_link,text:Attractions)}}
	</section> 
<!-- /.block -->
    <section id="block-menu-menu-social-media-footer-menu" class="block block-menu col-lg-12 col-md-12 clearfix">
      {{>molecules-pt-social-media(ul:menu nav,l1:first leaf,href:http://www.facebook.com/visitpikeville,id:facebook-icon,a:social-media-icon,target:_blank,text:Facebook)}}
      {{>molecules-pt-social-media(ul:menu nav,l1:leaf,href:http://visitpikeville.com/,id:instagram-icon,a:social-media-icon-instagram,text:Instagram)}}
      {{>molecules-pt-social-media(ul:menu nav,l1:last leaf,href:https://twitter.com/Visit_Pikeville,id:twitter-icon,a:social-media-icon-twitter,text:Twitter)}}
	   </section> 
<!-- /.block -->
</div>  