<div class="region region-footer-first">
      <section id="block-block-6" class="block block-block col-lg-10 col-offset-lg-1 clearfix">
            <p class="{{title}}">{{>atoms-paragraph(p:Pikeville's Contact)}}</p>
            <p class="{{phone}}">{{>atoms-paragraph(p:Phone)}}</p>
            <p class="{{address}}">{{>atoms-paragraph(p:Address)}}</p>
            {{>atoms-pt-gmap-button(text:View Map, href:https://maps.google.com/maps?ll=37.482292,-82.515488&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;cid=10362512147854992350)}}
      	
      </section>
<!-- /.block -->
</div>