&lt;footer class=&quot;footer pt-footer-bottom pt-primary-bg&quot;&gt;
  &lt;div class=&quot;container pt-container-nopadding pt-container-full&quot;&gt;
    &lt;div class=&quot;row&quot;&gt; 
       
      &lt;div class=&quot;col-xs-12 col-sm-4 col-md-4 col-lg-4 footer-first&quot;&gt; 
      	{{&gt;organisms-pt-footer-first}}
      &lt;/div&gt;

	  &lt;div id=&quot;footer_middle&quot;class=&quot;col-xs-12 col-sm-4 col-md-4 col-lg-4&quot;&gt;
      {{&gt;organisms-pt-footer-middle}}
      &lt;/div&gt;

  	  &lt;div id=&quot;footer_last&quot; class=&quot;col-xs-12 col-sm-4 col-md-4 col-lg-4&quot;&gt;
      {{&gt;organisms-pt-footer-last}}
	  &lt;/div&gt;
    &lt;/div&gt;&lt;!--/row--&gt;
 &lt;/div&gt;
&lt;/footer&gt;