&lt;span class=&quot;label label-default&quot;&gt;&quot;{{{Default.span}}}&quot;&lt;/span&gt;
&lt;span class=&quot;label label-primary&quot;&gt;&quot;{{{Primary.span}}}&quot;&lt;/span&gt;
&lt;span class=&quot;label label-success&quot;&gt;&quot;{{{Success.span}}}&quot;&lt;/span&gt;
&lt;span class=&quot;label label-info&quot;&gt;&quot;{{{Info.span}}}&quot;&lt;/span&gt;
&lt;span class=&quot;label label-warning&quot;&gt;&quot;{{{Warning.span}}}&quot;&lt;/span&gt;
&lt;span class=&quot;label label-danger&quot;&gt;&quot;{{{Danger.span}}}&quot;&lt;/span&gt;