&lt;h1&gt;Button addons&lt;/h1&gt;
&lt;!--Buttons in input groups are a bit different and require one extra level of nesting. Instead of .input-group-addon, you'll need to use .input-group-btn to wrap the buttons. This is required due to default browser styles that cannot be overridden.--&gt;

&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-lg-6&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;span class=&quot;input-group-btn&quot;&gt;
        &lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot;&gt;Go!&lt;/button&gt;
      &lt;/span&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Search for...&quot;&gt;
    &lt;/div&gt;&lt;!-- /input-group --&gt;
  &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
  &lt;div class=&quot;col-lg-6&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Search for...&quot;&gt;
      &lt;span class=&quot;input-group-btn&quot;&gt;
        &lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot;&gt;Go!&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;&lt;!-- /input-group --&gt;
  &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
&lt;/div&gt;&lt;!-- /.row --&gt;&lt;br&gt;

&lt;h1&gt;Buttons with dropdowns&lt;/h1&gt;&lt;br&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-lg-6&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;div class=&quot;input-group-btn&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;Action &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/button&gt;
        &lt;ul class=&quot;dropdown-menu&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
          &lt;li role=&quot;separator&quot; class=&quot;divider&quot;&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;&lt;!-- /btn-group --&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;...&quot;&gt;
    &lt;/div&gt;&lt;!-- /input-group --&gt;
  &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
  &lt;div class=&quot;col-lg-6&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;...&quot;&gt;
      &lt;div class=&quot;input-group-btn&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;Action &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/button&gt;
        &lt;ul class=&quot;dropdown-menu dropdown-menu-right&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
          &lt;li role=&quot;separator&quot; class=&quot;divider&quot;&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;&lt;!-- /btn-group --&gt;
    &lt;/div&gt;&lt;!-- /input-group --&gt;
  &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
&lt;/div&gt;&lt;!-- /.row --&gt;&lt;br&gt;

&lt;h1&gt;Segmented buttons&lt;/h1&gt;&lt;br&gt;
&lt;form class=&quot;bs-example bs-example-form&quot; data-example-id=&quot;input-group-segmented-buttons&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-lg-6&quot;&gt;
        &lt;div class=&quot;input-group&quot;&gt;
          &lt;div class=&quot;input-group-btn&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Action&lt;/button&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
              &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;sr-only&quot;&gt;Toggle Dropdown&lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class=&quot;dropdown-menu&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
              &lt;li role=&quot;separator&quot; class=&quot;divider&quot;&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
          &lt;input type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Text input with segmented button dropdown&quot;&gt;
        &lt;/div&gt;&lt;!-- /.input-group --&gt;
      &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
      &lt;div class=&quot;col-lg-6&quot;&gt;
        &lt;div class=&quot;input-group&quot;&gt;
          &lt;input type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Text input with segmented button dropdown&quot;&gt;
          &lt;div class=&quot;input-group-btn&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Action&lt;/button&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
              &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;sr-only&quot;&gt;Toggle Dropdown&lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class=&quot;dropdown-menu dropdown-menu-right&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
              &lt;li role=&quot;separator&quot; class=&quot;divider&quot;&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;&lt;!-- /.input-group --&gt;
      &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
    &lt;/div&gt;&lt;!-- /.row --&gt;
  &lt;/form&gt;&lt;br&gt;

  &lt;h1&gt;Multiple buttons&lt;/h1&gt;&lt;br&gt;
&lt;!--While you can only have one add-on per side, you can have multiple buttons inside a single .input-group-btn.--&gt;

&lt;form class=&quot;bs-example bs-example-form&quot; data-example-id=&quot;input-group-multiple-buttons&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-lg-6&quot;&gt;
        &lt;div class=&quot;input-group&quot;&gt;
          &lt;div class=&quot;input-group-btn&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; aria-label=&quot;Bold&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-bold&quot;&gt;&lt;/span&gt;&lt;/button&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; aria-label=&quot;Italic&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-italic&quot;&gt;&lt;/span&gt;&lt;/button&gt;
          &lt;/div&gt;
          &lt;input type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Text input with multiple buttons&quot;&gt;
        &lt;/div&gt;&lt;!-- /.input-group --&gt;
      &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
      &lt;div class=&quot;col-lg-6&quot;&gt;
        &lt;div class=&quot;input-group&quot;&gt;
          &lt;input type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Text input with multiple buttons&quot;&gt;
          &lt;div class=&quot;input-group-btn&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; aria-label=&quot;Help&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-question-sign&quot;&gt;&lt;/span&gt;&lt;/button&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Action&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;&lt;!-- /.input-group --&gt;
      &lt;/div&gt;&lt;!-- /.col-lg-6 --&gt;
    &lt;/div&gt;&lt;!-- /.row --&gt;
  &lt;/form&gt;&lt;br&gt;

