&lt;dl&gt;
	&lt;dt&gt;{{{dl.dt}}}&lt;/dt&gt;
	&lt;dd&gt;{{{dl.dd}}}&lt;/dd&gt;
    &lt;dt&gt;{{{dl.dt}}}&lt;/dt&gt;
    &lt;dd&gt;{{{dl.dd1}}}&lt;code&gt;{{{dl.code}}}&lt;/code&gt;{{{dl.dd2}}}&lt;/dd&gt;
    &lt;dt&gt;{{{dl.dt2}}}&lt;/dt&gt;
    &lt;dd&gt;{{{dl.dd3}}}&lt;/dd&gt;
    &lt;dt&gt;{{{dl.dt2}}}&lt;/dt&gt;
    &lt;dd&gt;{{{dl.dd4}}}&lt;/dd&gt;
&lt;/dl&gt;