&lt;div class=&quot;aboutusptag&quot;&gt;
	&lt;div&gt;
	 &lt;img class=&quot;js-aboutusimage&quot; src=&quot;../../images/JS_AboutUs_Icons-01.png&quot;/&gt;
	&lt;/div&gt;
   	&lt;div&gt;
    {{&gt;atoms-h3(h3:&quot;EXPERTISE&quot;)}}
	&lt;/div&gt;

	&lt;div&gt;
   	{{&gt;molecules-basicpanel(panel-body:&lt;span&gt;&quot;Jigsaw provides a diverse array of land forming services and is experienced working within the construction management, design/bid/build and design/build project delivery formats.  We have successfully performed publicly, privately and hybrid publicly/privately funded projects.&lt;/span&gt;&lt;br&gt;&lt;span&gt;&lt;br&gt;&lt;/span&gt;

&lt;span&gt;Our portfolio of successfully completed projects spans decades and incorporates a diverse array of project types including transportation, energy, industrial, environmental, historical, sports and recreational facilities, and property development both commercial and residential.&lt;/span&gt;&lt;br&gt;&lt;span&gt;&lt;br&gt;&lt;/span&gt; 

&lt;span&gt;Our customers come from many sectors both public and private including federal, state, and local government agencies, public utilities, manufacturing, industrial, commercial,  communication businesses, and energy both coal and gas.&lt;/span&gt;&lt;span&gt;&lt;br&gt;&lt;/span&gt;
&quot;)}}
   &lt;/div&gt;



    
  
    


&lt;/div&gt;