<div class="js-footer js-container-full js-container-nopadding">
	<div class="js-container-full js-container-nopadding">
		<div class="row-fluid">
			<div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 js-footer-middle text-center">
					{{> molecules-js-footer-mid-col-1(heading:"Meet Bill", paragraph:"Bill was a wild goat who decided to jion our team as our machinery night watchmen at one of our job sights. He has become a valued member of our team, his tenacity and sure footedness has come to represent our company.")}}
					{{> molecules-js-footer-mid-col-2(heading:"Contact Us", name:"JIGSAW ENTERPRISES", street:"LEFT FORK ISLAND CREEK", city-state:"PIKEVILLE, KY 41501", phone:"PHONE: 606-437-9090", email:"EMAIL: INFO@JIGSAWEMAIL.COM")}}
					{{> molecules-js-footer-mid-col-3}}
				</div>
			</div>
			<div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 js-footer-bottom ">
					{{> molecules-js-footer-col-1(top-paragraph:"We Are", bottom-paragraph:"COMPLIANT")}}
					{{> molecules-js-footer-col-2(heading:"Our Values", paragraph:"Honesty, Integrity, Quality, Professionalism")}}
					{{> molecules-js-footer-col-3}}
					{{> molecules-js-footer-col-4}}
				</div>
			</div>
		</div>
	</div>
</div>