&lt;footer id=&quot;footer&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;    
      &lt;div class=&quot;col-xs-6 col-sm-6 col-md-3 column&quot;&gt;          
          &lt;h4&gt;Information&lt;/h4&gt;
          &lt;ul class=&quot;nav&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;about-us.html&quot;&gt;Products&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;about-us.html&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;about-us.html&quot;&gt;Benefits&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;elements.html&quot;&gt;Developers&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt; 
        &lt;/div&gt;
      &lt;div class=&quot;col-xs-6 col-md-3 column&quot;&gt;          
          &lt;h4&gt;Follow Us&lt;/h4&gt;
          &lt;ul class=&quot;nav&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Twitter&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Facebook&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google+&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Pinterest&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt; 
      &lt;/div&gt;
      &lt;div class=&quot;col-xs-6 col-md-3 column&quot;&gt;          
          &lt;h4&gt;Contact Us&lt;/h4&gt;
          &lt;ul class=&quot;nav&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Email&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Headquarters&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Management&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Support&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt; 
      &lt;/div&gt;
      &lt;div class=&quot;col-xs-6 col-md-3 column&quot;&gt;          
          &lt;h4&gt;Customer Service&lt;/h4&gt;
          &lt;ul class=&quot;nav&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Delivery Information&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Terms &amp;amp; Conditions&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt; 
      &lt;/div&gt;
    &lt;/div&gt;&lt;!--/row--&gt;
  &lt;/div&gt;
&lt;/footer&gt;
