	&lt;p&gt;
&lt;!--Use the button classes on an &lt;a&gt;, &lt;button&gt;, or &lt;input&gt; element.--&gt;
	&lt;a class=&quot;btn btn-default&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Link&lt;/a&gt;
	&lt;button class=&quot;btn btn-default&quot; type=&quot;submit&quot;&gt;Button&lt;/button&gt;
	&lt;input class=&quot;btn btn-default&quot; type=&quot;button&quot; value=&quot;Input&quot;&gt;
	&lt;input class=&quot;btn btn-default&quot; type=&quot;submit&quot; value=&quot;Submit&quot;&gt;
	&lt;/p&gt;
&lt;!-- Standard button --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/button&gt;

&lt;!-- Provides extra visual weight and identifies the primary action in a set of buttons --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;

&lt;!-- Indicates a successful or positive action --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;

&lt;!-- Contextual button for informational alert messages --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;

&lt;!-- Indicates caution should be taken with this action --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;

&lt;!-- Indicates a dangerous or potentially negative action --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;

&lt;!-- Deemphasize a button by making it look like a link while maintaining button behavior --&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;

&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;div&gt;
&lt;p&gt;
&lt;br&gt;
&lt;!-- Large Button in Primary Color and Default Color --&gt;
 &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;Large button&lt;/button&gt;
 &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;{{buttontitle}}&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-lg&quot;&gt;Large button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;!-- Default Size Button in Primary Color and Default Color --&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;!-- Small Button in Primary Color and Default Color --&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-sm&quot;&gt;Small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;!-- Extra-Small Button in Primary Color and Default Color --&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-xs&quot;&gt;Extra small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-xs&quot;&gt;Extra small button&lt;/button&gt;
  &lt;/p&gt;
  &lt;/div&gt;
&lt;!-- Create block level buttons&mdash;those that span the full width of a parent --&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg btn-block&quot;&gt;Block level button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-lg btn-block&quot;&gt;Block level button&lt;/button&gt;
  	&lt;br&gt;
&lt;!-- Anchor Element with Button .active --&gt;
	&lt;a href=&quot;#&quot; class=&quot;btn btn-primary btn-lg active&quot; role=&quot;button&quot;&gt;Primary link&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default btn-lg active&quot; role=&quot;button&quot;&gt;Link&lt;/a&gt;
