&lt;div class=&quot;panel panel-primary&quot;&gt;{{panel.panel-primary}}&lt;/div&gt;
&lt;div class=&quot;panel panel-success&quot;&gt;{{panel.panel-success}}&lt;/div&gt;
&lt;div class=&quot;panel panel-info&quot;&gt;{{panel.panel-info}}&lt;/div&gt;
&lt;div class=&quot;panel panel-warning&quot;&gt;{{panel.panel-warning}}&lt;/div&gt;
&lt;div class=&quot;panel panel-danger&quot;&gt;{{panel.panel-danger}}&lt;/div&gt;