&lt;div class=&quot;col-lg-4 col-md-4 col-sm-4 col-xs-12 js-contact-us-col&quot;&gt;
	&lt;div class=&quot;col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1&quot;&gt;
		&lt;h4&gt;
			{{heading}}
		&lt;/h4&gt;
		&lt;p&gt;
			&lt;span&gt;{{name}}&lt;/span&gt; &lt;br&gt;
			&lt;span&gt;{{street}}&lt;/span&gt; &lt;br&gt;
			&lt;span&gt;{{city-state}}&lt;/span&gt; &lt;br&gt;
			&lt;span&gt;{{phone}}&lt;/span&gt; &lt;br&gt;
			&lt;span&gt;{{email}}&lt;/span&gt;
		&lt;/p&gt;
		&lt;div class=&quot;col-lg-12 col-md-12 col-sm-12 col-xs-12 js-footer-area-button&quot;&gt;
			{{&gt; atoms-primary-block-button(text:&quot;AREBA LINK&quot;)}}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;